</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="menuCollapse">
    <p class="navbar-text navbar-right hidden-xs">Единый центр записи: <a href="#" class="navbar-link">+7 (495) 230-72-18</a></p>

    <div class="categories visible-xs-block">
        <div class="clearfix">
            <a href="doctors.html">
                <span class="img"><img src="img/doctor.png" srcset="img/doctor@2x.png 2x, img/doctor@3x.png 3x" class="doctor"></span>
                Врачи
                <i class="ion-chevron-right"></i>
            </a>
        </div>
        <div class="clearfix">
            <a href="clinics.html">
                <span class="img"><img src="img/hospital.png" srcset="img/hospital@2x.png 2x,img/hospital@3x.png 3x" class="hospital"></span>
                Клиники
                <i class="ion-chevron-right"></i>
            </a>
        </div>
        <div class="clearfix">
            <a href="services.html">
                <span class="img"><img src="img/service.png" srcset="img/service@2x.png 2x, img/service@3x.png 3x" class="service"></span>
                Услуги
                <i class="ion-chevron-right"></i>
            </a>
        </div>
        <div class="clearfix">
            <a href="diagnostics.html">
                <span class="img"><img src="img/stethoscope.svg" class="stethoscope"></span>
                Диагностика
                <i class="ion-chevron-right"></i>
            </a>
        </div>
        <div class="clearfix">
            <a href="diseases.html">
                <span class="img"><img src="img/microbiomes.svg" class="microbiomes"></span>
                Заболевания
                <i class="ion-chevron-right"></i>
            </a>
        </div>

        <div class="record_phone text-center visible-xs-block">
            <div>Запишитесь по телефону:</div>
            <a href=""><i class="ion-ios-telephone"></i> +7 (495) 230-72-18</a>
        </div>
    </div>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
