@@include('_header.html')
<a href="#" class="filter_toggle visible-xs-inline-block">
    <img src="../img/filter.svg" alt="">
</a>
@@include('_header1.html')

<div class="top_content top_content_doctors hidden-xs">

    <div class="container">

        <ul class="main-menu">
            <li><a href="doctors.html">Врачи</a></li>
            <li><a href="clinics.html" class="active">Клиники</a></li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="diagnostics.html">Диагностика</a></li>
            <li><a href="diseases.html">Заболевания</a></li>
        </ul>

        <form action="">
            <div class="form-group search_input">
                <i class="ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Введите интересующую вас клинику">
            </div>
        </form>

    </div>

</div>

<div class="center_content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 left_content">
                <ol class="breadcrumb hidden-xs">
                    <li><a href="#">Главная</a></li>
                    <li class="active">Клиники</li>
                </ol>

                <h1 class="hidden-xs">Клиники Москвы</h1>

                <div class="search_result hidden-xs">
                    <div class="label">Найдено:</div>
                    <div class="search_result__items">
                        <img src="img/hospital.png"
                             srcset="img/hospital@2x.png 2x,img/hospital@3x.png 3x"
                             class="hospital">
                        <span class="number">478</span>клиник
                    </div>
                    <div class="search_result__items">
                        <img src="img/doctor.png"
                             srcset="img/doctor@2x.png 2x, img/doctor@3x.png 3x"
                             class="doctor">
                        <span class="number">7 000</span>врачей
                    </div>
                    <div class="search_result__items">
                        <img src="img/service.png"
                             srcset="img/service@2x.png 2x, img/service@3x.png 3x"
                             class="service">
                        <span class="number">1 543</span>услуги
                    </div>
                </div>

                <div class="form-group search_input visible-xs-block" style="margin-bottom: 17px">
                    <i class="ion-android-search"></i>
                    <input type="text" class="form-control" placeholder="Введите интересующую вас клинику">
                </div>

                <div class="filters clearfix hidden-xs">
                    <div class="dropdown metros">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Выберите метро
                            <span class="ion-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="">По умолчанию </a></li>
                            <li><a href="">Сначала дешевле </a></li>
                            <li><a href="">Сначала дороже </a></li>
                            <li><a href="">По рейтингу</a></li>
                            <li><a href=""> По стажу </a></li>
                            <li><a href="">По отзывам </a></li>
                        </ul>
                    </div>

                    <div class="btn-group checkboxes" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="checkbox" autocomplete="off" checked> Детская
                        </label>
                        <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off"> Сетевая
                        </label>
                    </div>

                    <div class="dropdown sorting full">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Сортировать
                            <span class="ion-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="">По умолчанию </a></li>
                            <li><a href="">Сначала дешевле </a></li>
                            <li><a href="">Сначала дороже </a></li>
                            <li><a href="">По рейтингу</a></li>
                            <li><a href=""> По стажу </a></li>
                            <li><a href="">По отзывам </a></li>
                        </ul>
                    </div>

                </div>

                <div class="doctors_list clearfix">
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                                <span class="rating clearfix">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </span>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10 col-sm-7">
                                <a href="clinics-more.html" class="name">Стоматологическая клиника Добрый Доктор</a>
                                <div class="schedule hidden-xs">
                                    <div>пн-пт: <span>09:00 — 21:00</span></div>
                                    <div>сб: <span>09:00 — 21:00</span></div>
                                    <div>Вс: <span>09:00 — 21:00</span></div>
                                </div>
                            </div>
                            <div class="doctors_list__item__rating col-sm-3 hidden-xs">
                                <div class="rating">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </div>
                                <div class="feedbacks">
                                    <a href="">2 отзыва</a>
                                </div>
                                <div class="last_feedbacks">
                                    <a href="">Последние отзывы</a>
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll">
                            <div class="consultation_price">
                                <span class="features">
                                    <span class="features_item">
                                        <img src="img/doctor.svg" class="doctor hidden-xs">
                                        <img src="img/doc_mini.svg" class="doctor visible-xs-inline-block">
                                        <span class="number">11</span>
                                        <span class="text">врачей</span>
                                    </span>
                                    <span class="features_item">
                                        <img src="img/service.svg" class="service hidden-xs">
                                        <img src="img/service_mini.svg" class="service visible-xs-inline-block">
                                        <span class="number">26</span>
                                        <span class="text">услуг</span>
                                    </span>
                                </span>
                            </div>
                            <a href="#" class="btn btn-default hidden-xs" data-toggle="modal" data-target="#doctorEnrollModal">Записаться</a>
                            <a href="#" class="btn btn-default enroll_link visible-xs-inline-block">Записаться</a>
                            <!-- Modal -->
                            <div class="modal fade enroll_modal" id="doctorEnrollModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="myModalLabel">Запись к врачу
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span>Закрыть</span> <img src="img/combined-shape.svg" class="combined-shape"></button>
                                            </h2>
                                        </div>
                                        <div class="modal-body">
                                            <div class="clearfix">
                                                <div class="col-xs-5 doctor_info">
                                                    <div class="doctor_info__img">
                                                        <img src="http://lorempixel.com/300/300/people" alt="">
                                                    </div>
                                                    <h3>Каюрова  Ирина Владимировна</h3>
                                                    <div class="specialization">Невролог, Иглотерапевт, Иглорефлексотерапевт</div>
                                                    <div class="office">МедлайН — Сервис  м. Октябрьское Поле</div>
                                                    <div class="address">
                                                        <div class="address_item">
                                                            <img src="img/pin.png" srcset="img/pin@2x.png 2x, img/pin@3x.png 3x" class="pin">
                                                            <a href="#">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                                                        </div>
                                                        <div class="address_item">
                                                            <div class="stop"></div>
                                                            <span>Выставочная</span>
                                                        </div>
                                                        <div class="time">
                                                            <div class="address_item">
                                                                <img src="img/pedestrian.png" srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x" class="pedestrian">
                                                                <span>18 мин</span>
                                                            </div>
                                                            <div class="address_item">
                                                                <img src="img/bus.png" srcset="img/bus@2x.png 2x, img/bus@3x.png 3x" class="bus">
                                                                <span>18 мин</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-7 doctor_form">
                                                    <form action="">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="doctorFormName" placeholder="Введите ваше имя">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="doctorFormPhone" name="phone" required placeholder="Введите ваш телефон">
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-control date-control">
                                                                <input type="text" class="dateinput" placeholder="Желательная дата приема">
                                                                <i class="ion-chevron-down"></i>
                                                                <div class="date_picker" id="datepicker5"></div>
                                                                <input type="hidden" id="my_hidden_input5" class="hidden_input">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <select class="selectpicker" data-width="100%">
                                                                <option value="" selected>Выберите время приема</option>
                                                                <option value="">Выберите время приема</option>
                                                                <option value="">фкди фдитфоаи</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <select class="selectpicker" data-width="100%">
                                                                <option value="" selected>Когда удобно вам звонить</option>
                                                                <option value="">йуки ывиыпи</option>
                                                                <option value="">фкди фдитфоаи</option>
                                                            </select>
                                                        </div>
                                                        <p class="warningtext">После отправки с Вами в ближайшее время свяжется специалист call-центра и уточнит все интересующие Вас вопросы.</p>
                                                        <button type="submit" class="btn btn-default submit-btn">Записаться</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__address">
                            <div>
                                <img src="img/pin.png"
                                     srcset="img/pin@2x.png 2x, img/pin@3x.png 3x"
                                     class="pin">
                                <a href="" class="address">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                            </div>
                            <div>
                                <div class="stop"></div>
                                <span>Выставочная</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/pedestrian.png"
                                     srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x"
                                     class="pedestrian">
                                <span>18 мин</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/bus.png"
                                     srcset="img/bus@2x.png 2x, img/bus@3x.png 3x"
                                     class="bus">
                                <span>18 мин</span>
                            </div>
                            <div>
                                <button type="button" class="more_stations">Еще станции</button>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                                <span class="rating clearfix">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </span>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10 col-sm-7">
                                <a href="doctors-more.html" class="name">Стоматологическая клиника Добрый Доктор</a>
                                <div class="schedule hidden-xs">
                                    <div>пн-пт: <span>09:00 — 21:00</span></div>
                                    <div>сб: <span>09:00 — 21:00</span></div>
                                    <div>Вс: <span>09:00 — 21:00</span></div>
                                </div>
                            </div>
                            <div class="doctors_list__item__rating col-sm-3 hidden-xs">
                                <div class="rating">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </div>
                                <div class="feedbacks">
                                    <a href="">2 отзыва</a>
                                </div>
                                <div class="last_feedbacks">
                                    <a href="">Последние отзывы</a>
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll">
                            <div class="consultation_price">
                                <span class="features">
                                    <span class="features_item">
                                        <img src="img/doctor.svg" class="doctor hidden-xs">
                                        <img src="img/doc_mini.svg" class="doctor visible-xs-inline-block">
                                        <span class="number">11</span>
                                        <span class="text">врачей</span>
                                    </span>
                                    <span class="features_item">
                                        <img src="img/service.svg" class="service hidden-xs">
                                        <img src="img/service_mini.svg" class="service visible-xs-inline-block">
                                        <span class="number">26</span>
                                        <span class="text">услуг</span>
                                    </span>
                                </span>
                            </div>
                            <a href="" class="btn btn-default" data-toggle="modal" data-target="#doctorEnrollModal">Записаться</a>

                        </div>
                        <div class="doctors_list__item__address">
                            <div>
                                <img src="img/pin.png"
                                     srcset="img/pin@2x.png 2x, img/pin@3x.png 3x"
                                     class="pin">
                                <a href="" class="address">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                            </div>
                            <div>
                                <div class="stop"></div>
                                <span>Выставочная</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/pedestrian.png"
                                     srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x"
                                     class="pedestrian">
                                <span>18 мин</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/bus.png"
                                     srcset="img/bus@2x.png 2x, img/bus@3x.png 3x"
                                     class="bus">
                                <span>18 мин</span>
                            </div>
                            <div>
                                <button type="button" class="more_stations">Еще станции</button>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                                <span class="rating clearfix">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </span>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10 col-sm-7">
                                <a href="doctors-more.html" class="name">Стоматологическая клиника Добрый Доктор</a>
                                <div class="schedule hidden-xs">
                                    <div>пн-пт: <span>09:00 — 21:00</span></div>
                                    <div>сб: <span>09:00 — 21:00</span></div>
                                    <div>Вс: <span>09:00 — 21:00</span></div>
                                </div>
                            </div>
                            <div class="doctors_list__item__rating col-sm-3 hidden-xs">
                                <div class="rating">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </div>
                                <div class="feedbacks">
                                    <a href="">2 отзыва</a>
                                </div>
                                <div class="last_feedbacks">
                                    <a href="">Последние отзывы</a>
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll">
                            <div class="consultation_price">
                                <span class="features">
                                    <span class="features_item">
                                        <img src="img/doctor.svg" class="doctor hidden-xs">
                                        <img src="img/doc_mini.svg" class="doctor visible-xs-inline-block">
                                        <span class="number">11</span>
                                        <span class="text">врачей</span>
                                    </span>
                                    <span class="features_item">
                                        <img src="img/service.svg" class="service hidden-xs">
                                        <img src="img/service_mini.svg" class="service visible-xs-inline-block">
                                        <span class="number">26</span>
                                        <span class="text">услуг</span>
                                    </span>
                                </span>
                            </div>
                            <a href="" class="btn btn-default" data-toggle="modal" data-target="#doctorEnrollModal">Записаться</a>

                        </div>
                        <div class="doctors_list__item__address">
                            <div>
                                <img src="img/pin.png"
                                     srcset="img/pin@2x.png 2x, img/pin@3x.png 3x"
                                     class="pin">
                                <a href="" class="address">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                            </div>
                            <div>
                                <div class="stop"></div>
                                <span>Выставочная</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/pedestrian.png"
                                     srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x"
                                     class="pedestrian">
                                <span>18 мин</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/bus.png"
                                     srcset="img/bus@2x.png 2x, img/bus@3x.png 3x"
                                     class="bus">
                                <span>18 мин</span>
                            </div>
                            <div>
                                <button type="button" class="more_stations">Еще станции</button>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                                <span class="rating clearfix">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </span>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10 col-sm-7">
                                <a href="doctors-more.html" class="name">Стоматологическая клиника Добрый Доктор</a>
                                <div class="schedule hidden-xs">
                                    <div>пн-пт: <span>09:00 — 21:00</span></div>
                                    <div>сб: <span>09:00 — 21:00</span></div>
                                    <div>Вс: <span>09:00 — 21:00</span></div>
                                </div>
                            </div>
                            <div class="doctors_list__item__rating col-sm-3 hidden-xs">
                                <div class="rating">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </div>
                                <div class="feedbacks">
                                    <a href="">2 отзыва</a>
                                </div>
                                <div class="last_feedbacks">
                                    <a href="">Последние отзывы</a>
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll">
                            <div class="consultation_price">
                                <span class="features">
                                    <span class="features_item">
                                        <img src="img/doctor.svg" class="doctor hidden-xs">
                                        <img src="img/doc_mini.svg" class="doctor visible-xs-inline-block">
                                        <span class="number">11</span>
                                        <span class="text">врачей</span>
                                    </span>
                                    <span class="features_item">
                                        <img src="img/service.svg" class="service hidden-xs">
                                        <img src="img/service_mini.svg" class="service visible-xs-inline-block">
                                        <span class="number">26</span>
                                        <span class="text">услуг</span>
                                    </span>
                                </span>
                            </div>
                            <a href="" class="btn btn-default" data-toggle="modal" data-target="#doctorEnrollModal">Записаться</a>

                        </div>
                        <div class="doctors_list__item__address">
                            <div>
                                <img src="img/pin.png"
                                     srcset="img/pin@2x.png 2x, img/pin@3x.png 3x"
                                     class="pin">
                                <a href="" class="address">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                            </div>
                            <div>
                                <div class="stop"></div>
                                <span>Выставочная</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/pedestrian.png"
                                     srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x"
                                     class="pedestrian">
                                <span>18 мин</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/bus.png"
                                     srcset="img/bus@2x.png 2x, img/bus@3x.png 3x"
                                     class="bus">
                                <span>18 мин</span>
                            </div>
                            <div>
                                <button type="button" class="more_stations">Еще станции</button>
                            </div>
                        </div>
                    </div>
                </div>

                <nav class="doc_pagination">
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><i class="ion-ios-arrow-right"></i></a></li>
                    </ul>
                </nav>

            </div>
            <div class="col-md-3 sidebar_right hidden-sm hidden-xs">
                <h2>Специализации  врачей</h2>
                <div class="sidebar_list">
                    <div class="sidebar_list__item">
                        <div class="number">549</div>
                        <div class="link">
                            <a href="">Акушер-гинеколог</a>
                            <div>Беременность и роды</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">59</div>
                        <div class="link">
                            <a href="">Аллерголог</a>
                            <div>Аллергические реакции  и заболевания</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">9</div>
                        <div class="link">
                            <a href="">Андролог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">9</div>
                        <div class="link">
                            <a href="">Ангиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">150</div>
                        <div class="link">
                            <a href="">Анестезиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">123</div>
                        <div class="link">
                            <a href="">Ангиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">9</div>
                        <div class="link">
                            <a href="">Акушер-гинеколог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">23</div>
                        <div class="link">
                            <a href="">Ангиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer class="main_footer with_phone">
    <ul class="footer_menu">
        <li><a href="doctors.html">Врачи</a></li>
        <li><a href="clinics.html" class="active">Клиники</a></li>
        <li><a href="services.html">Услуги</a></li>
        <li><a href="diagnostics.html">Диагностика</a></li>
        <li><a href="diseases.html">Заболевания</a></li>
    </ul>
    <p class="doctogo_descr text-center">
        <a href="doctogo.ru">doctogo.ru</a> | Сервис для поиска врачей, а также записи к ним.
    </p>
</footer>

<div class="record_phone text-center visible-xs-block">
    <div>Запишитесь по телефону:</div>
    <a href=""><i class="ion-ios-telephone"></i> +7 (495) 230-72-18</a>
</div>

<!--Mobile Enroll (Record) Form-->
<div class="enroll_mobile">
    <h2 class="modal-title" id="myModalLabel">Запись к врачу
        <button type="button" class="close enroll_mobile_close" >
            <img src="img/close.svg">
        </button>
    </h2>
    <div class="enroll_mobile_body">
        <div class="clearfix doctor_info">
            <div class="col-xs-2 doctor_info__img">
                <div>
                    <img src="http://lorempixel.com/300/300/people" alt="">
                </div>
                <span class="rating clearfix">
                    <img src="img/star.png"
                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                         class="star">
                    <span>9,9</span>
                </span>
            </div>
            <div class="col-xs-10 doctor_info_name">
                <h3>Каюрова  Ирина Владимировна</h3>
                <div class="specialization">Невролог, Иглотерапевт, Иглорефлексотерапевт</div>
            </div>
        </div>
        <div class="clearfix doctor_address">
            <div class="address">
                <div class="address_item">
                    <img src="img/pin.png" srcset="img/pin@2x.png 2x, img/pin@3x.png 3x" class="pin">
                    <a href="#">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                </div>
                <div class="address_item">
                    <div class="stop"></div>
                    <span>Выставочная</span>
                    <div>
                        <button type="button" class="more_stations">Еще станции</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix doctor_form">
            <form action="">
                <div class="form-group">
                    <input type="text" class="form-control" required placeholder="Введите ваше имя">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="phone" required placeholder="Введите ваш телефон">
                </div>
                <div class="form-group">
                    <div class="form-control date-control">
                        <input type="text" class="dateinput" placeholder="Желательная дата приема">
                        <i class="ion-chevron-down"></i>
                        <div class="date_picker" id="datepicker6"></div>
                        <input type="hidden" id="my_hidden_input6" class="hidden_input">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <select>
                            <option value="" selected>Выберите время приема</option>
                            <option value="">Утро</option>
                            <option value="">День</option>
                            <option value="">Вечер</option>
                        </select>
                        <i class="ion-chevron-down"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <select>
                            <option value="" selected>Когда удобно вам звонить</option>
                            <option value="в любое время">в любое время</option>
                            <option value="через час">через час</option>
                            <option value="утром">утром</option>
                            <option value="днём">днём</option>
                            <option value="вечером">вечером</option>
                        </select>
                        <i class="ion-chevron-down"></i>
                    </div>
                </div>
                <p class="warningtext">После отправки с Вами в ближайшее время свяжется специалист call-центра и уточнит
                    все интересующие Вас вопросы.</p>
                <button type="submit" class="btn btn-default submit-btn">Записаться</button>
            </form>
        </div>
    </div>
</div>

@@include('_footer.html')
