@@include('_header.html')
@@include('_header1.html')

<div class="top_content top_content_doctors  hidden-xs">

    <div class="container">

        <ul class="main-menu">
            <li><a href="doctors.html">Врачи</a></li>
            <li><a href="clinics.html">Клиники</a></li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="diagnostics.html" class="active">Диагностика</a></li>
            <li><a href="diseases.html">Заболевания</a></li>
        </ul>

        <form action="">
            <div class="form-group search_input">
                <i class="ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Введите интересующую вас услугу">
            </div>
        </form>

    </div>

</div>

<div class="center_content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 left_content">
                <ol class="breadcrumb  hidden-xs">
                    <li><a href="#">Главная</a></li>
                    <li class="active">Диагностика</li>
                </ol>

                <h1 class=" hidden-xs">Диагностические услуги</h1>

                <div class="search_result hidden-xs" style="border: none; padding-bottom: 10px">
                    <div class="label">Найдено:</div>
                    <div class="search_result__items">
                        <img src="img/service.png"
                             srcset="img/service@2x.png 2x, img/service@3x.png 3x"
                             class="service">
                        <span class="number">1 543</span>услуги
                    </div>
                    <div class="search_result__items">
                        <img src="img/hospital.png"
                             srcset="img/hospital@2x.png 2x,img/hospital@3x.png 3x"
                             class="hospital">
                        <span class="number">478</span>клиник
                    </div>
                </div>

                <div class="form-group search_input visible-xs-block" style="margin-bottom: 17px">
                    <i class="ion-android-search"></i>
                    <input type="text" class="form-control" placeholder="Введите интересующую вас услугу">
                </div>

                <div class="doctors_list clearfix">
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10">
                                <a href="diagnostics-more.html" class="name">Анализ крови</a>
                                <div class="description hidden-xs">
                                    МРТ головного мозга — измерение путем функциональной магнитно-резонансной томографии
                                    гемодинамических реакций, которые возникают в процессе активности нейронов. По
                                    итогам исследования дается оценка структуры мозгового вещества, его сосудистой и
                                    нервной системы.
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll diagnostics_enroll_mobile">
                            <div class="consultation_price" style="width: 100%;">
                                <span class="features">
                                    <span class="features_item">
                                        <img src="img/purse_red.svg" class="purse visible-xs-inline-block">
                                        <img src="img/purse.svg" class="purse hidden-xs">
                                        <span class="number price">5600 <span class="currency">₽</span></span>
                                        <span class="text hidden-xs">средняя цена</span>
                                    </span>
                                    <span class="features_item">
                                        <img src="img/hospital_mini.svg" class="hospital visible-xs-inline-block">
                                        <img src="img/hospital.svg" class="hospital hidden-xs">
                                        <span class="number">26</span>
                                        <span class="text">клиник</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10">
                                <a href="clinics-more.html" class="name">УЗИ органов малого таза</a>
                                <div class="description hidden-xs">
                                    УЗИ органов малого таза — аппаратная диагностическая методика, которая применяется
                                    для визуализации анатомических структур, расположенных в малом тазу. Современное
                                    техническое оснащение позволяет увидеть даже самые незначительные изменения.
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll diagnostics_enroll_mobile">
                            <div class="consultation_price" style="width: 100%;">
                                <span class="features">
                                    <span class="features_item">
                                        <img src="img/purse_red.svg" class="purse visible-xs-inline-block">
                                        <img src="img/purse.svg" class="purse hidden-xs">
                                        <span class="number price">5600 <span class="currency">₽</span></span>
                                        <span class="text hidden-xs">средняя цена</span>
                                    </span>
                                    <span class="features_item">
                                        <img src="img/hospital_mini.svg" class="hospital visible-xs-inline-block">
                                        <img src="img/hospital.svg" class="hospital hidden-xs">
                                        <span class="number">26</span>
                                        <span class="text">клиник</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10">
                                <a href="clinics-more.html" class="name">МРТ пояснично-крестцового отдела
                                    позвоночника</a>
                                <div class="description hidden-xs">
                                    МРТ пояснично-крестцового отдела позвоночника - это эффективный инструментальный
                                    медицинский метод диагностики, основанный на сканировании исследуемого органа при
                                    помощи электромагнитных волн.
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll diagnostics_enroll_mobile">
                            <div class="consultation_price" style="width: 100%;">
                                <span class="features">
                                    <span class="features_item">
                                        <img src="img/purse_red.svg" class="purse visible-xs-inline-block">
                                        <img src="img/purse.svg" class="purse hidden-xs">
                                        <span class="number price">5600 <span class="currency">₽</span></span>
                                        <span class="text hidden-xs">средняя цена</span>
                                    </span>
                                    <span class="features_item">
                                        <img src="img/hospital_mini.svg" class="hospital visible-xs-inline-block">
                                        <img src="img/hospital.svg" class="hospital hidden-xs">
                                        <span class="number">26</span>
                                        <span class="text">клиник</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10">
                                <a href="clinics-more.html" class="name">МРТ коленного сустава</a>
                                <div class="description hidden-xs">
                                    МРТ коленного сустава – распространенный способ исследования, который позволяет
                                    распознать источники большого количества болезней. По его результатам доктор может
                                    назначить соответствующее лечение патологий на ранних периодах.
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll diagnostics_enroll_mobile">
                            <div class="consultation_price" style="width: 100%;">
                                <span class="features">
                                    <span class="features_item">
                                        <img src="img/purse_red.svg" class="purse visible-xs-inline-block">
                                        <img src="img/purse.svg" class="purse hidden-xs">
                                        <span class="number price">5600 <span class="currency">₽</span></span>
                                        <span class="text hidden-xs">средняя цена</span>
                                    </span>
                                    <span class="features_item">
                                        <img src="img/hospital_mini.svg" class="hospital visible-xs-inline-block">
                                        <img src="img/hospital.svg" class="hospital hidden-xs">
                                        <span class="number">26</span>
                                        <span class="text">клиник</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <nav class="doc_pagination">
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><i class="ion-ios-arrow-right"></i></a></li>
                    </ul>
                </nav>

            </div>
            <div class="col-md-3 hidden-sm hidden-xs sidebar_right">
                <h2>Диагностические  услуги</h2>
                <div class="sidebar_list">
                    <div class="sidebar_list__item">
                        <div class="link">
                            <a href="">Дуплексное сканирование </a>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="link">
                            <a href="">КТ (компьютерная томография) </a>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="link">
                            <a href="">МРТ (магнитно-резонансная томография) </a>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="link">
                            <a href="">ПЭТ-КТ</a>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="link">
                            <a href="">Рентген (рентгенография)</a>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="link">
                            <a href="">УЗИ (ультразвуковое исследование)</a>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="link">
                            <a href="">Флюорография грудной клетки</a>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="link">
                            <a href="">Функциональная диагностика</a>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="link">
                            <a href="">Электронейромиография (ЭНМГ)</a>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="link">
                            <a href="">Эндоскопия</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer class="main_footer with_phone">
    <ul class="footer_menu">
        <li><a href="doctors.html">Врачи</a></li>
        <li><a href="clinics.html">Клиники</a></li>
        <li><a href="services.html">Услуги</a></li>
        <li><a href="diagnostics.html" class="active">Диагностика</a></li>
        <li><a href="diseases.html">Заболевания</a></li>
    </ul>
    <p class="doctogo_descr text-center">
        <a href="doctogo.ru">doctogo.ru</a> | Сервис для поиска врачей, а также записи к ним.
    </p>
</footer>

<div class="record_phone text-center visible-xs-block">
    <div>Запишитесь по телефону:</div>
    <a href=""><i class="ion-ios-telephone"></i> +7 (495) 230-72-18</a>
</div>

@@include('_footer.html')
