@@include('_header.html')
@@include('_header1.html')

<div class="top_content top_content_doctors hidden-xs">

    <div class="container">

        <ul class="main-menu">
            <li><a href="doctors.html">Врачи</a></li>
            <li><a href="clinics.html">Клиники</a></li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="diagnostics.html">Диагностика</a></li>
            <li><a href="diseases.html" class="active">Заболевания</a></li>
        </ul>

        <form action="">
            <div class="form-group search_input">
                <i class="ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Введите интересующее вас заболевание">
            </div>
        </form>

    </div>

</div>

<div class="center_content ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb hidden-xs">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Заболевания</a></li>
                    <li class="active">Аллергические заболевания</li>
                </ol>
                <h1 class="mobile_heading">Аллергические заболевания</h1>
                <div class="divider hidden-xs"></div>
            </div>
            <div class="col-xs-12 col-md-9 left_content_diseases">
                <div class="diseases_wholelist clearfix">

                    <div class="diseases_wholelist__item clearfix">
                        <a href="diseases-more.html"><h2>Аллергический альвеолит</h2></a>
                        <p>Аллергический альвеолит — процесс воспаления в альвеолах и бронхиолах, возникающий в связи с
                            вдыханием аллергенов. Характеризуется кашлем, одышкой, болезненностью в груди.</p>
                    </div>

                    <div class="diseases_wholelist__item clearfix">
                        <a href=""><h2>Аллергический кашель</h2></a>
                        <p>Аллергический кашель появляется в результате раздражающего влияния дыхательных путей
                            непереносимым продуктом. Подобный симптом достаточно часто наблюдается у людей, склонных к
                            аллергии, поэтому не стоит путать такой вид кашля с простудным.</p>
                    </div>

                    <div class="diseases_wholelist__item clearfix">
                        <a href=""><h2>Аллергия</h2></a>
                        <p>Аллергия – это реакция организма на определенный тип провоцирующих веществ, характеризующаяся
                            разнообразием клинических проявлений, хроническим течением и невозможностью полного
                            излечения.</p>
                    </div>

                    <div class="diseases_wholelist__item clearfix">
                        <a href=""><h2>Аллергия при беременности</h2></a>
                        <p>Аллергия при беременности – это извращенная реакция иммунной системы на чужеродные факторы,
                            при которой повреждаются собственные ткани организма. Основная опасность заключается в
                            нарушении развития плода из-за тяжелой формы аллергии.</p>
                    </div>

                </div>

            </div>
            <div class="col-xs-12 col-md-3 sidebar_banner sidebar_content_diseases">
                <div class="consultation_block">
                    <div class="consultation_block__img">
                        <img src="img/group.png"
                             srcset="img/group@2x.png 2x, img/group@3x.png 3x"
                             class="group">
                    </div>

                    <div class="consultation_block__title">Консультация врача</div>

                    <div class="consultation_block__text">Проконсультируйтесь по теме «Аллергические заболевания»</div>

                    <a href="" class="btn btn-default">задать вопрос врачу</a>

                </div>
            </div>
        </div>
    </div>
</div>

<footer class="main_footer with_phone">
    <ul class="footer_menu">
        <li><a href="doctors.html">Врачи</a></li>
        <li><a href="clinics.html">Клиники</a></li>
        <li><a href="services.html">Услуги</a></li>
        <li><a href="diagnostics.html">Диагностика</a></li>
        <li><a href="diseases.html" class="active">Заболевания</a></li>
    </ul>
    <p class="doctogo_descr text-center">
        <a href="doctogo.ru">doctogo.ru</a> | Сервис для поиска врачей, а также записи к ним.
    </p>
</footer>

<div class="record_phone text-center visible-xs-block">
    <div>Запишитесь по телефону:</div>
    <a href=""><i class="ion-ios-telephone"></i> +7 (495) 230-72-18</a>
</div>

@@include('_footer.html')
