@@include('_header.html')
@@include('_header1.html')

<div class="top_content top_content_doctors hidden-xs">

    <div class="container">

        <ul class="main-menu">
            <li><a href="doctors.html">Врачи</a></li>
            <li><a href="clinics.html">Клиники</a></li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="diagnostics.html">Диагностика</a></li>
            <li><a href="diseases.html" class="active">Заболевания</a></li>
        </ul>

        <form action="">
            <div class="form-group search_input">
                <i class="ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Введите интересующее вас заболевание">
            </div>
        </form>

    </div>

</div>

<div class="center_content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb hidden-xs">
                    <li><a href="#">Главная</a></li>
                    <li class="active">Заболевания</li>
                </ol>
                <div class="form-group search_input visible-xs-block" style="margin-bottom: 17px">
                    <i class="ion-android-search"></i>
                    <input type="text" class="form-control" placeholder="Введите заболевание">
                </div>
                <h1 class="mobile_heading">Справочник заболеваний</h1>
                <div class="divider hidden-xs"></div>
            </div>
            <div class="col-xs-12 col-md-9 left_content">
                <div class="diseases_list clearfix hidden-xs">

                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/flower.svg"
                             class="flower">
                        <a href="diseases-list.html"><h2>Аллергические  заболевания</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/hair.svg"
                             class="hair">
                        <a href=""><h2>Болезни  волос</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/eye.svg"
                             class="eye">
                        <a href=""><h2>Болезни глаза и его  придаточного аппарата</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/droplet.svg"
                             class="droplet">
                        <a href=""><h2>Болезни  крови</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/breast.svg"
                             class="breast">
                        <a href=""><h2>Болезни  молочных желез</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/productivity.svg"
                             class="productivity">
                        <a href=""><h2>Болезни  нервной системы</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/droplet.svg"
                             class="droplet">
                        <a href=""><h2>Болезни ОДС  и травмы</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/lungs.svg"
                             class="lungs">
                        <a href=""><h2>Болезни
                            органов дыхания</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/stomach.svg"
                             class="stomach">
                        <a href=""><h2>Болезни органов  пищеварения</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/heart.svg"
                             class="heart">
                        <a href=""><h2>Болезни сердца
                            и сосудов</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/blood-cell.svg"
                             class="blood-cell">
                        <a href=""><h2>Болезни системы  кровообращения</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/large-intestine.svg"
                             class="large-intestine">
                        <a href=""><h2>Болезни  толстого кишечника</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/ear.svg"
                             class="ear">
                        <a href=""><h2>Болезни уха,  горла, носа</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/ribbon.svg"
                             class="ribbon">
                        <a href=""><h2>Венерические  заболевания</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/baby-feeder.svg"
                             class="baby-feeder">
                        <a href=""><h2>Детские  болезни</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/uterus.svg"
                             class="uterus">
                        <a href=""><h2>Женские
                            заболевания</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/virus.svg"
                             class="virus">
                        <a href=""><h2>Инфекционные
                            заболевания</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/cell.svg"
                             class="cell">
                        <a href=""><h2>Кожные
                            заболевания</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/authenticity.svg"
                             class="authenticity">
                        <a href=""><h2>Косметические
                            проблемы</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/gender.svg"
                             class="gender">
                        <a href=""><h2>Мужские
                            болезни</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/syringe.svg"
                             class="syringe">
                        <a href=""><h2>Наркологические
                            проблемы</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/mouth.svg"
                             class="mouth">
                        <a href=""><h2>Нарушения  речи</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/dna.svg"
                             class="dna">
                        <a href=""><h2>Наследственные
                            болезни</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/cancer.svg"
                             class="cancer">
                        <a href=""><h2>Новообразования</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/parazit.svg"
                             class="parazit">
                        <a href=""><h2>Паразитарные
                            болезни</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/psycho.svg"
                             class="psycho">
                        <a href=""><h2>Психические
                            расстройства
                            и расстройства
                            поведения</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/hand.svg"
                             class="hand">
                        <a href=""><h2>Ревматические
                            болезни</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/tooth.svg"
                             class="tooth">
                        <a href=""><h2>Стоматологические
                            заболевания</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/kidneys.svg"
                             class="kidneys">
                        <a href=""><h2>Урологические
                            болезни</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/shape.svg"
                             class="shape">
                        <a href=""><h2>Эндокринные
                            болезни</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 diseases_list__item">
                        <img src="img/nose.svg"
                             class="nose">
                        <a href=""><h2>Эстетические  проблемы</h2></a>
                        <ul>
                            <li>
                                <a href="#">Лейкоцитоз</a>
                            </li>
                            <li>
                                <a href="#">Гиперкалиемия</a>
                            </li>
                            <li>
                                <a href="#">Микроангиопатия</a>
                            </li>
                            <li>
                                <a href="#">Геморрагический диатез</a>
                            </li>
                            <li>
                                <a href="#">Пурпура</a>
                            </li>
                            <li>
                                <a href="#">Гиперурикемия</a>
                            </li>
                            <li>
                                <a href="#">Нейтропения</a>
                            </li>
                            <li>
                                <a href="#">Гиперлипидемия</a>
                            </li>
                            <li>
                                <a href="#">Тромбоцитемия</a>
                            </li>
                            <li>
                                <a href="#">Лимфогранулематоз</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="categories diseases_categories visible-xs-block" style="border-top: solid 1px #ececec;">
                    <div class="clearfix">
                        <a href="diseases-list.html">
                            <span class="img">
                                <img src="img/flower.svg" class="flower">
                            </span>
                            <span class="text">Аллергические заболевания</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="clinics.html">
                            <span class="img">
                                <img src="img/hair.svg" class="hair">
                            </span>
                            <span class="text">Болезни волос</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="services.html">
                            <span class="img">
                                <img src="img/eye.svg" class="eye">
                            </span>
                            <span class="text">Болезни глаза и его придаточного аппарата</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diagnostics.html">
                            <span class="img">
                                <img src="img/droplet.svg" class="droplet">
                            </span>
                            <span class="text">Болезни крови</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/breast.svg" class="breast">
                            </span>
                            <span class="text">Болезни молочных желез</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                                <img src="img/productivity.svg" class="productivity">
                            </span>
                            <span class="text">Болезни нервной системы</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/joint.svg" class="joint">
                            </span>
                            <span class="text">Болезни ОДС и травмы</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/lungs.svg" class="lungs">
                            </span>
                            <span class="text">Болезни органов дыхания</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/stomach.svg" class="stomach">
                            </span>
                            <span class="text">Болезни органов  пищеварения</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/heart.svg" class="heart">
                            </span>
                            <span class="text">Болезни сердца и сосудов</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/blood-cell.svg" class="blood-cell">
                            </span>
                            <span class="text">Болезни системы  кровообращения</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/large-intestine.svg" class="large-intestine">
                            </span>
                            <span class="text">Болезни  толстого кишечника</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/ear.svg" class="ear">
                            </span>
                            <span class="text">Болезни уха,  горла, носа</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/ribbon.svg" class="ribbon">
                            </span>
                            <span class="text">Венерические  заболевания</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/baby-feeder.svg" class="baby-feeder">
                            </span>
                            <span class="text">Детские  болезни</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                                <img src="img/uterus.svg" class="uterus">
                            </span>
                            <span class="text">Женские заболевания</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/virus.svg" class="virus">
                            </span>
                            <span class="text">Инфекционные заболевания</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/cell.svg" class="cell">
                            </span>
                            <span class="text">Кожные заболевания</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/authenticity.svg" class="authenticity">
                            </span>
                            <span class="text">Косметические проблемы</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                                <img src="img/gender.svg" class="gender">
                            </span>
                            <span class="text">Мужские болезни</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/syringe.svg" class="syringe">
                            </span>
                            <span class="text">Наркологические проблемы</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/mouth.svg" class="mouth">
                            </span>
                            <span class="text">Нарушения  речи</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/dna.svg" class="dna">
                            </span>
                            <span class="text">Наследственные болезни</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/cancer.svg" class="cancer">
                            </span>
                            <span class="text">Новообразования</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/parazit.svg" class="parazit">
                            </span>
                            <span class="text">Паразитарные болезни</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/psycho.svg" class="psycho">
                            </span>
                            <span class="text">Психические расстройства и расстройства поведения</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/hand.svg" class="hand">
                            </span>
                            <span class="text">Ревматические болезни</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/tooth.svg" class="tooth">
                            </span>
                            <span class="text">Стоматологические заболевания</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                              <img src="img/kidneys.svg" class="kidneys">
                            </span>
                            <span class="text">Урологические болезни</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/shape.svg" class="shape">
                            </span>
                            <span class="text">Эндокринные болезни</span>
                        </a>
                    </div>
                    <div class="clearfix">
                        <a href="diseases.html">
                            <span class="img">
                               <img src="img/nose.svg" class="nose">
                            </span>
                            <span class="text">Эстетические  проблемы</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs sidebar_banner">
                <a href="#">
                    <img src="http://lorempixel.com/275/660/" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<footer class="main_footer with_phone">
    <ul class="footer_menu">
        <li><a href="doctors.html">Врачи</a></li>
        <li><a href="clinics.html">Клиники</a></li>
        <li><a href="services.html">Услуги</a></li>
        <li><a href="diagnostics.html">Диагностика</a></li>
        <li><a href="diseases.html" class="active">Заболевания</a></li>
    </ul>
    <p class="doctogo_descr text-center">
        <a href="doctogo.ru">doctogo.ru</a> | Сервис для поиска врачей, а также записи к ним.
    </p>
</footer>

<div class="record_phone text-center visible-xs-block">
    <div>Запишитесь по телефону:</div>
    <a href=""><i class="ion-ios-telephone"></i> +7 (495) 230-72-18</a>
</div>

@@include('_footer.html')
