@@include('_header.html')
@@include('_header1.html')

<div class="top_content top_content_doctors hidden-xs">

    <div class="container">

        <ul class="main-menu">
            <li><a href="doctors.html">Врачи</a></li>
            <li><a href="clinics.html">Клиники</a></li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="diagnostics.html">Диагностика</a></li>
            <li><a href="diseases.html" class="active">Заболевания</a></li>
        </ul>

        <form action="">
            <div class="form-group search_input">
                <i class="ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Введите интересующее вас заболевание">
            </div>
        </form>

    </div>

</div>

<div class="center_content ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 diseases_more">
                <ol class="breadcrumb hidden-xs">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Заболевания</a></li>
                    <li><a href="#">Аллергические заболевания</a></li>
                    <li class="active">Аллергический альвеолит</li>
                </ol>
                <h1 class="mobile_heading">Аллергический альвеолит</h1>

                <div class="diseases_info clearfix">
                    <div class="diseases_info__img">
                        <img src="http://lorempixel.com/1160/455/" alt="">
                    </div>
                    <div class="diseases_info__descr">
                        Аллергический альвеолит — процесс воспаления в альвеолах  и бронхиолах, возникающий в связи с
                        вдыханием аллергенов. Характеризуется кашлем, одышкой, болезненностью в груди.
                    </div>
                    <div class="diseases_info__block">
                        <h2>Виды</h2>
                        <p>Заболевание варьируется в зависимости от источника возбудителя, который имеет следующие
                            разновидности:</p>
                        <ul>
                            <li><span>заплесневелое сено;</span></li>
                            <li><span>птичий пух, помет;</span></li>
                            <li><span>волокна сахарного тростника;</span></li>
                            <li><span>кора пробкового дерева (может содержать плесневые грибы);</span></li>
                            <li><span>ячменная пыль;</span></li>
                            <li><span>кондиционеры, увлажнители, обогреватели;</span></li>
                            <li><span>сырная плесень;</span></li>
                            <li><span>споры грибов и др.</span></li>
                        </ul>
                    </div>
                    <div class="diseases_info__block">
                        <h2>Причины</h2>
                        <p>На возникновение патологии влияет не только сам факт вдыхания аллергенов, но и размеры
                            частиц, их количество, отклик иммунной системы человека. При высоком содержании
                            болезнетворных элементов в воздухе аллергический альвеолит возникает в среднем у 10 % людей,
                            регулярно контактирующих с источниками возбудителей. Зачастую контакт происходит во время
                            профессиональной деятельности.</p>
                        <div class="diseases_info__quote">
                            <div class="quote">
                                <div class="quote_icon">
                                    <img src="img/quotes.png" srcset="img/quotes@2x.png 2x, img/quotes@3x.png 3x"
                                         class="shape">
                                </div>
                                <div class="quote_text">
                                    <p>Известно, что фрагменты пыли размером менее 5 микрометров без труда попадают в
                                        альвеолы и приводят к повышенной чувствительности организма.</p>
                                </div>
                            </div>
                        </div>
                        <p>Наиболее распространенные патогены - грибные споры. Они присутствуют в коре деревьев,
                            компосте, сене. К ним добавляется домашняя пыль, ряд медикаментов, бактерий. Птичий помет
                            содержит белковые антигены.</p>
                        <p>Также в группу риска попадают лица, вовлеченные в производство смол, полиуретана, красящих
                            веществ, деревянных изделий, контактирующие с кобальтом, шерстью животных.</p>
                        <p>Механизм развития болезни заключается в том, что при неоднократном контакте с антигеном в
                            организме срабатывает реакция гиперчувствительности: в крови возникают особые антитела и
                            циркулирующие иммунные комплексы. В связи с этим альвеолы поражаются рядом клеток:
                            нейтрофилами, лимфоцитами, моноцитами; начинается процесс воспаления.</p>
                    </div>
                    <div class="diseases_info__block">
                        <h2>Симптомы</h2>
                        <p>Пациент страдает от повышенной температуры, головной боли, слабости, озноба, боли в мышцах и
                            суставах. Через время проявляется болезненность в груди, кашель, незначительные выделения
                            мокроты, одышка.</p>
                        <p>Если контакт с источником аллергии прекращается, то симптоматика спадает через три дня, но
                            может возобновляться после повторного вдыхания аллергена. На протяжении месяца больной еще
                            может испытывать необоснованную усталость, мучиться одышкой при двигательной активности.</p>
                        <p>Возможно развитие хронического аллергического альвеолита. У больного отмечается исхудание,
                            слабость, непрерывный кашель, одышка. Среди осложнений хронической формы выделяют
                            дыхательную недостаточность, легочную гипертензию, сердечную недостаточность, хронический
                            бронхит, легочное сердце, эмфизему легких.</p>
                    </div>
                    <div class="diseases_info__subscribe">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Подпишитесь на новые публикации</label>
                                <input type="text" class="form-control" id="exampleInputName2" placeholder="Ваш Email">
                            </div>
                            <button type="submit" class="btn btn-default">Подписаться</button>
                        </form>
                    </div>
                </div>

                <div class="doctors_page diseases_tabs clearfix hidden-sm hidden-xs">
                    <div class="doctors_page__tabs">

                        <!-- Nav tabs -->
                        <div class="nav-tabs_wrap">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active" role="presentation"><a href="#diseasesservices" aria-controls="diseasesservices" role="tab"
                                                                          data-toggle="tab">Услуги</a></li>
                                <li role="presentation"><a href="#diseasesdoctors" aria-controls="diseasesdoctors" role="tab"
                                                           data-toggle="tab">Врачи <sup>6</sup></a></li>
                            </ul>
                        </div>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="diseasesservices">
                                <div class="wrap">
                                    <div class="doctors_page__clinics_search">
                                        <form class="form-inline">
                                            <div class="form-group" style="width: 100%">
                                                <i class="ion-android-search"></i>
                                                <input type="text" class="form-control" id="exampleInputName2" placeholder="Начните вводить название услуги или специализацию">
                                            </div>
                                            <!--<button type="submit" class="btn btn-default">Выезд на дом</button>-->
                                        </form>
                                    </div>

                                    <div class="doctors_page__doctors_list">
                                        <div class="doctors_page__doctors_list__item clearfix">
                                            <div class="avatar col-xs-2">
                                                <div>
                                                    <img src="http://lorempixel.com/300/300/people/1" alt="">
                                                </div>
                                            </div>
                                            <div class="info col-xs-7" style="width: 58.33333333%;">
                                                <a href="#" class="name">Консультация гинеколога</a>
                                                <div class="inline_block">
                                                    <div class="profession">Услуга оказывается в <b>83 клиниках</b>.</div>
                                                    <div class="price">Цена услуги: <span class="new-price">1000 — 11 800 <span class="currency">₽</span></span></div>
                                                </div>
                                            </div>
                                            <div class="ratingsenroll col-xs-3" style="width: 25%">
                                                <a href="#" class="btn btn-default enroll">Записаться</a>
                                            </div>
                                        </div>
                                        <div class="doctors_page__doctors_list__item clearfix">
                                            <div class="avatar col-xs-2">
                                                <div>
                                                    <img src="http://lorempixel.com/300/300/people/2" alt="">
                                                </div>
                                            </div>
                                            <div class="info col-xs-7" style="width: 58.33333333%;">
                                                <a href="#" class="name">Общий анализ мочи</a>
                                                <div class="inline_block">
                                                    <div class="profession">Услуга оказывается в <b>83 клиниках</b>.</div>
                                                    <div class="price">Цена услуги: <span class="new-price">1000 — 11 800 <span class="currency">₽</span></span></div>
                                                </div>
                                            </div>
                                            <div class="ratingsenroll col-xs-3" style="width: 25%">
                                                <a href="#" class="btn btn-default enroll">Записаться</a>
                                            </div>
                                        </div>
                                        <div class="doctors_page__doctors_list__item clearfix">
                                            <div class="avatar col-xs-2">
                                                <div>
                                                    <img src="http://lorempixel.com/300/300/people/3" alt="">
                                                </div>
                                            </div>
                                            <div class="info col-xs-7" style="width: 58.33333333%;">
                                                <a href="#" class="name">Консультация акушера-гинеколога</a>
                                                <div class="inline_block">
                                                    <div class="profession">Услуга оказывается в <b>83 клиниках</b>.</div>
                                                    <div class="price">Цена услуги: <span class="new-price">1000 — 11 800 <span class="currency">₽</span></span></div>
                                                </div>
                                            </div>
                                            <div class="ratingsenroll col-xs-3" style="width: 25%">
                                                <a href="#" class="btn btn-default enroll">Записаться</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="diseasesdoctors">
                                <div class="wrap">
                                    <div class="doctors_page__clinics_search">
                                        <form class="form-inline">
                                            <div class="btn-group search_dropdown clearfix">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="ion-android-menu menu_icon"></i>
                                                    Выберите специализацию
                                                    <i class="ion-chevron-down arrow_icon"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <div class="form-group">
                                                        <i class="ion-android-search"></i>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <ul>
                                                        <li><a href="">Акушер-гинеколог</a></li>
                                                        <li><a href="">Аллерголог</a></li>
                                                        <li><a href="">Ангиолог</a></li>
                                                        <li><a href="">Анестезиолог</a></li>
                                                        <li><a href="">Артролог</a></li>
                                                        <li><a href="">Бариатрический хирург</a></li>
                                                        <li><a href="">Венеролог</a></li>
                                                        <li><a href="">Вертебролог</a></li>
                                                        <li><a href="">Вертеброневролог</a></li>
                                                        <li><a href="">Висцеральный терапевт</a></li>
                                                        <li><a href="">Врач ЛФК </a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="dropdown">
                                                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Выберите метро
                                                    <span class="ion-chevron-down"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                                    <li><a href="">По умолчанию </a></li>
                                                    <li><a href="">Сначала дешевле </a></li>
                                                    <li><a href="">Сначала дороже </a></li>
                                                    <li><a href="">По рейтингу</a></li>
                                                    <li><a href=""> По стажу </a></li>
                                                    <li><a href="">По отзывам </a></li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="doctors_page__doctors_list">
                                        <div class="doctors_page__doctors_list__item clearfix">
                                            <div class="info doctors col-xs-12">
                                                <a href="#" class="name">Гинеколог</a>
                                                <div class="doctors_list">
                                                    <div class="doctors_list__amount">
                                                        <b>659</b> врачей на сайте
                                                    </div>
                                                    <ul>
                                                        <li><a href="">Рейтинг гинекологов</a></li>
                                                        <li><a href="">Отзывы о гинекологах</a></li>
                                                        <li><a href="">Гинекологи с выездом на дом</a></li>
                                                        <li><a href="">Гинекологи: детские врачи</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="doctors_page__doctors_list__item clearfix">
                                            <div class="info doctors col-xs-12">
                                                <a href="#" class="name">Аллерголог</a>
                                                <div class="doctors_list">
                                                    <div class="doctors_list__amount">
                                                        <b>109</b> врачей на сайте
                                                    </div>
                                                    <ul>
                                                        <li><a href="">Рейтинг аллергологов</a></li>
                                                        <li><a href="">Отзывы о аллергологах</a></li>
                                                        <li><a href="">Аллергологи с выездом на дом</a></li>
                                                        <li><a href="">Аллергологи: детские врачи</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="doctors_page__doctors_list__item clearfix">
                                            <div class="info doctors col-xs-12">
                                                <a href="#" class="name">Пульмонолог</a>
                                                <div class="doctors_list">
                                                    <div class="doctors_list__amount">
                                                        <b>48</b> врачей на сайте
                                                    </div>
                                                    <ul>
                                                        <li><a href="">Рейтинг пульмонологов</a></li>
                                                        <li><a href="">Отзывы о пульмонологах</a></li>
                                                        <li><a href="">Пульмонологи с выездом на дом</a></li>
                                                        <li><a href="">Пульмонологи: детские врачи</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="similar_diseases clearfix">
                    <h2>Схожие болезни</h2>
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-6 col-lg-3 similar_diseases__item">
                            <div class="similar_diseases__img">
                                <img src="http://lorempixel.com/300/200/" alt="">
                            </div>
                            <div class="similar_diseases__name">
                                <a href="">Нейтропения</a>
                            </div>
                            <div class="similar_diseases__categ">
                                <a href="">Болезни крови</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 similar_diseases__item">
                            <div class="similar_diseases__img">
                                <img src="http://lorempixel.com/300/200/sports" alt="">
                            </div>
                            <div class="similar_diseases__name">
                                <a href="">Рак крови</a>
                            </div>
                            <div class="similar_diseases__categ">
                                <a href="">Болезни крови</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 similar_diseases__item hidden-xs">
                            <div class="similar_diseases__img">
                                <img src="http://lorempixel.com/300/200/food" alt="">
                            </div>
                            <div class="similar_diseases__name">
                                <a href="">Тромбофилия</a>
                            </div>
                            <div class="similar_diseases__categ">
                                <a href="">Болезни крови</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 similar_diseases__item hidden-xs">
                            <div class="similar_diseases__img">
                                <img src="http://lorempixel.com/300/200/" alt="">
                            </div>
                            <div class="similar_diseases__name">
                                <a href="">Тромбоцитемия</a>
                            </div>
                            <div class="similar_diseases__categ">
                                <a href="">Болезни крови</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 similar_diseases__item hidden-xs">
                            <div class="similar_diseases__img">
                                <img src="http://lorempixel.com/300/200/sports" alt="">
                            </div>
                            <div class="similar_diseases__name">
                                <a href="">Аллергический гастрит</a>
                            </div>
                            <div class="similar_diseases__categ">
                                <a href="">Аллергические заболевания</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 similar_diseases__item hidden-xs">
                            <div class="similar_diseases__img">
                                <img src="http://lorempixel.com/300/200/transport" alt="">
                            </div>
                            <div class="similar_diseases__name">
                                <a href="">Аллергический кашель</a>
                            </div>
                            <div class="similar_diseases__categ">
                                <a href="">Аллергические заболевания</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 similar_diseases__item hidden-xs">
                            <div class="similar_diseases__img">
                                <img src="http://lorempixel.com/300/200/sports" alt="">
                            </div>
                            <div class="similar_diseases__name">
                                <a href="">Рак крови</a>
                            </div>
                            <div class="similar_diseases__categ">
                                <a href="">Болезни крови</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 similar_diseases__item hidden-xs">
                            <div class="similar_diseases__img">
                                <img src="http://lorempixel.com/300/200/food" alt="">
                            </div>
                            <div class="similar_diseases__name">
                                <a href="">Тромбофилия</a>
                            </div>
                            <div class="similar_diseases__categ">
                                <a href="">Болезни крови</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="read_also clearfix">
                    <h2>Читайте также:</h2>
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-4 read_also__item">
                            <div class="read_also__img">
                                <img src="http://lorempixel.com/300/200/food" alt="">
                            </div>
                            <div class="read_also__link">
                                <a href="">Тромбофилия</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 read_also__item">
                            <div class="read_also__img">
                                <img src="http://lorempixel.com/300/200/" alt="">
                            </div>
                            <div class="read_also__link">
                                <a href="">Тромбоцитемия</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 read_also__item hidden-xs">
                            <div class="read_also__img">
                                <img src="http://lorempixel.com/300/200/sports" alt="">
                            </div>
                            <div class="read_also__link">
                                <a href="">Аллергический гастрит</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 read_also__item hidden-xs">
                            <div class="read_also__img">
                                <img src="http://lorempixel.com/300/200/transport" alt="">
                            </div>
                            <div class="read_also__link">
                                <a href="">Аллергический кашель</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 read_also__item hidden-xs">
                            <div class="read_also__img">
                                <img src="http://lorempixel.com/300/200/sports" alt="">
                            </div>
                            <div class="read_also__link">
                                <a href="">Рак крови</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 read_also__item hidden-xs">
                            <div class="read_also__img">
                                <img src="http://lorempixel.com/300/200/food" alt="">
                            </div>
                            <div class="read_also__link">
                                <a href="">Тромбофилия</a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<footer class="main_footer with_phone">
    <ul class="footer_menu">
        <li><a href="doctors.html">Врачи</a></li>
        <li><a href="clinics.html">Клиники</a></li>
        <li><a href="services.html">Услуги</a></li>
        <li><a href="diagnostics.html">Диагностика</a></li>
        <li><a href="diseases.html" class="active">Заболевания</a></li>
    </ul>
    <p class="doctogo_descr text-center">
        <a href="doctogo.ru">doctogo.ru</a> | Сервис для поиска врачей, а также записи к ним.
    </p>
</footer>

<div class="record_phone text-center visible-xs-block">
    <div>Запишитесь по телефону:</div>
    <a href=""><i class="ion-ios-telephone"></i> +7 (495) 230-72-18</a>
</div>

@@include('_footer.html')