@@include('_header.html')
@@include('_header1.html')

<div class="center_content ">
    <div class="container">

        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Врачи</a></li>
            <li class="active">Каюрова Ирина Владимировна</li>
        </ol>

        <div class="row">
            <div class="col-xs-12 col-md-9 left_content">
                <div class="doctors_page clearfix">
                    <div class="doctors_page__doctor">
                        <div class="doctors_page__doctor__info clearfix">
                            <div class="doctors_page__doctor__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                                <span class="rating clearfix visible-xs-block">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </span>
                            </div>
                            <div class="doctors_page__doctor__bio col-xs-10 col-sm-7">
                                <div class="name">Халатян Света Мишаевна</div>
                                <div class="profession">Пластический хирург</div>
                            </div>
                            <div class="doctors_page__doctor__rating col-sm-3 hidden-xs">
                                <div class="rating">
                                    <div class="rate">
                                        <img src="img/star.png"
                                             srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                             class="star">
                                        <span>9,9</span>
                                    </div>
                                    <a href="">2 отзыва</a>
                                </div>
                            </div>
                        </div>
                        <div class="doctors_page__doctor__enroll">
                            <div class="consultation_price">
                                <span class="label">Консультация невролога:</span>
                                <span class="prices">
                                    <span class="old-price">1 500</span>
                                    <span class="new-price">1 350</span>
                                    <span class="currency">₽</span>
                                </span>
                                <img src="../img/discount.svg" class="doctogo_discount">
                            </div>
                            <a href="#" class="btn btn-default hidden-xs" data-toggle="modal"
                               data-target="#doctorEnrollModal">Записаться</a>
                            <a href="#" class="btn btn-default enroll_link visible-xs-inline-block">Записаться</a>
                            <!--Enroll Modal-->
                            <div class="modal fade enroll_modal" id="doctorEnrollModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="myModalLabel">Запись к врачу
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span>Закрыть</span> <img
                                                        src="img/combined-shape.svg" class="combined-shape"></button>
                                            </h2>
                                        </div>
                                        <div class="modal-body">
                                            <div class="clearfix">
                                                <div class="col-xs-5 doctor_info">
                                                    <div class="doctor_info__img">
                                                        <img src="http://lorempixel.com/300/300/people" alt="">
                                                    </div>
                                                    <h3>Каюрова  Ирина Владимировна</h3>
                                                    <div class="specialization">Невролог, Иглотерапевт,
                                                        Иглорефлексотерапевт
                                                    </div>
                                                    <div class="office">МедлайН — Сервис  м. Октябрьское Поле</div>
                                                    <div class="address">
                                                        <div class="address_item">
                                                            <img src="img/pin.png"
                                                                 srcset="img/pin@2x.png 2x, img/pin@3x.png 3x"
                                                                 class="pin">
                                                            <a href="#">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                                                        </div>
                                                        <div class="address_item">
                                                            <div class="stop"></div>
                                                            <span>Выставочная</span>
                                                        </div>
                                                        <div class="time">
                                                            <div class="address_item">
                                                                <img src="img/pedestrian.png"
                                                                     srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x"
                                                                     class="pedestrian">
                                                                <span>18 мин</span>
                                                            </div>
                                                            <div class="address_item">
                                                                <img src="img/bus.png"
                                                                     srcset="img/bus@2x.png 2x, img/bus@3x.png 3x"
                                                                     class="bus">
                                                                <span>18 мин</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-7 doctor_form">
                                                    <form action="">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                   placeholder="Введите ваше имя" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="phone"
                                                                   required placeholder="Введите ваш телефон">
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-control date-control">
                                                                <input type="text" class="dateinput"
                                                                       placeholder="Желательная дата приема">
                                                                <i class="ion-chevron-down"></i>
                                                                <div class="date_picker" id="datepicker3"></div>
                                                                <input type="hidden" id="my_hidden_input3"
                                                                       class="hidden_input">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-control">
                                                                <select>
                                                                    <option value="" selected>Выберите время приема
                                                                    </option>
                                                                    <option value="">Утро</option>
                                                                    <option value="">День</option>
                                                                    <option value="">Вечер</option>
                                                                </select>
                                                                <i class="ion-chevron-down"></i>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-control">
                                                                <select>
                                                                    <option value="" selected>Когда удобно вам звонить
                                                                    </option>
                                                                    <option value="в любое время">в любое время</option>
                                                                    <option value="через час">через час</option>
                                                                    <option value="утром">утром</option>
                                                                    <option value="днём">днём</option>
                                                                    <option value="вечером">вечером</option>
                                                                </select>
                                                                <i class="ion-chevron-down"></i>
                                                            </div>
                                                        </div>
                                                        <p class="warningtext">После отправки с Вами в ближайшее время
                                                            свяжется специалист call-центра и уточнит все интересующие
                                                            Вас вопросы.</p>
                                                        <button type="submit" class="btn btn-default submit-btn">
                                                            Записаться
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar_contacts__wrap visible-sm-block">
                        <h2>Запись к врачу  по телефону</h2>
                        <div class="telephone">
                            +7 (495) 230-72-18
                        </div>

                        <div class="address_block">
                            <h3>МедлайН — Сервис  м.Октябрьское Поле</h3>
                            <div class="address_item">
                                <img src="img/pin.png"
                                     srcset="img/pin@2x.png 2x, img/pin@3x.png 3x"
                                     class="pin">
                                <a href="" class="address">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                            </div>
                            <div class="address_item">
                                <div class="stop"></div>
                                <span>Выставочная</span>
                            </div>
                            <div class="time">
                                <div class="address_item">
                                    <img src="img/pedestrian.png"
                                         srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x"
                                         class="pedestrian">
                                    <span>18 мин</span>
                                </div>
                                <div class="address_item">
                                    <img src="img/bus.png"
                                         srcset="img/bus@2x.png 2x, img/bus@3x.png 3x"
                                         class="bus">
                                    <span>18 мин</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="visible-sm-block" style="margin-bottom: 30px">
                        <div id="map1" style="width: 758px;height: 228px;"></div>
                    </div>

                    <div class="doctors_page__tabs">

                        <!-- Nav tabs -->
                        <div class="nav-tabs_wrap">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#feedback" aria-controls="feedback"
                                                                          role="tab" data-toggle="tab">Отзывы
                                    <sup>16</sup></a>
                                </li>
                                <li role="presentation"><a href="#aboutdoctor" aria-controls="aboutdoctor" role="tab"
                                                           data-toggle="tab">О враче</a></li>
                                <li role="presentation"><a href="#services" aria-controls="messages" role="tab"
                                                           data-toggle="tab">Услуги <sup>6</sup></a></li>
                            </ul>
                        </div>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="feedback">
                                <div class="wrap">
                                    <div class="doctors_page__tabs__rating-feedback">
                                        <div>
                                            <img src="img/star.svg"
                                                 class="star">
                                            <span>9,7</span>
                                        </div>
                                        <div>
                                            <img src="img/comment.svg"
                                                 class="comment">
                                            <span>16 отзывов</span>
                                        </div>
                                        <a class="add_feedback add_feedback_desktop hidden-xs" data-toggle="collapse"
                                           href="#collapseExample" aria-expanded="false"
                                           aria-controls="collapseExample">+
                                            Добавить</a>
                                        <a class="add_feedback add_feedback_mobile visible-xs-inline" href="#">+
                                            Добавить</a>
                                    </div>

                                    <div class="collapse feedback_collapse" id="collapseExample">
                                        <div class="feedback_form">
                                            <h2>Оставьте свой отзыв
                                                <a class="feedback_form__close hidden-xs" data-toggle="collapse"
                                                   href="#collapseExample" aria-expanded="false"
                                                   aria-controls="collapseExample">Закрыть <img
                                                        src="img/combined-shape.svg" class="combined-shape"></a>
                                            </h2>
                                            <form action="" class="feedback_form_body">
                                                <div class="form-group">
                                                    <input type="text" class="form-control"
                                                           placeholder="Введите ваше имя">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="phone" required class="form-control"
                                                           placeholder="Введите ваш телефон">
                                                </div>
                                                <div class="form-group">
                                                <textarea class="form-control" rows="3"
                                                          placeholder="Напишите отзыв"></textarea>
                                                </div>

                                                <div class="form-rates">

                                                    <div class="rates-wrap">
                                                        <div class="wrap-label">Профессионализм</div>

                                                        <div class="star-rating clearfix">

                                                            <input id="star-10x" type="radio" name="rating"
                                                                   value="star-10"/>
                                                            <label for="star-10x" data-value="10" title="10 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-9x" type="radio" name="rating" value="star-9"/>
                                                            <label for="star-9x" data-value="9" title="9 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-8x" type="radio" name="rating" value="star-8"/>
                                                            <label for="star-8x" data-value="8" title="8 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-7x" type="radio" name="rating" value="star-7"/>
                                                            <label for="star-7x" data-value="7" title="7 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-6x" type="radio" name="rating" value="star-6"/>
                                                            <label for="star-6x" data-value="6" title="6 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-5x" type="radio" name="rating" value="star-5"/>
                                                            <label for="star-5x" data-value="5" title="5 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-4x" type="radio" name="rating" value="star-4"/>
                                                            <label for="star-4x" data-value="4" title="4 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-3x" type="radio" name="rating" value="star-3"
                                                                   checked/>
                                                            <label for="star-3x" data-value="3" title="3 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-2x" type="radio" name="rating" value="star-2"/>
                                                            <label for="star-2x" data-value="2" title="2 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-1x" type="radio" name="rating" value="star-1"/>
                                                            <label for="star-1x" data-value="1" title="1 star">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                        </div>
                                                    </div>

                                                    <div class="rates-wrap">
                                                        <div class="wrap-label">Внимание</div>

                                                        <div class="star-rating clearfix">

                                                            <input id="star-10xx" type="radio" name="ratingy"
                                                                   value="star-10"/>
                                                            <label for="star-10xx" data-value="10" title="10 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-9xx" type="radio" name="ratingy"
                                                                   value="star-9"/>
                                                            <label for="star-9xx" data-value="9" title="9 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-8xx" type="radio" name="ratingy"
                                                                   value="star-8"/>
                                                            <label for="star-8xx" data-value="8" title="8 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-7xx" type="radio" name="ratingy"
                                                                   value="star-7"/>
                                                            <label for="star-7xx" data-value="7" title="7 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-6xx" type="radio" name="ratingy"
                                                                   value="star-6"/>
                                                            <label for="star-6xx" data-value="6" title="6 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-5xx" type="radio" name="ratingy"
                                                                   value="star-5"/>
                                                            <label for="star-5xx" data-value="5" title="5 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-4xx" type="radio" name="ratingy" value="star-4"
                                                                   checked/>
                                                            <label for="star-4xx" data-value="4" title="4 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-3xx" type="radio" name="ratingy"
                                                                   value="star-3"/>
                                                            <label for="star-3xx" data-value="3" title="3 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-2xx" type="radio" name="ratingy"
                                                                   value="star-2"/>
                                                            <label for="star-2xx" data-value="2" title="2 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-1xx" type="radio" name="ratingy"
                                                                   value="star-1"/>
                                                            <label for="star-1xx" data-value="1" title="1 star">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                        </div>
                                                    </div>

                                                    <div class="rates-wrap">
                                                        <div class="wrap-label">Цена / Качество</div>

                                                        <div class="star-rating clearfix">

                                                            <input id="star-10xxx" type="radio" name="ratingz"
                                                                   value="star-10"/>
                                                            <label for="star-10xxx" data-value="10" title="10 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-9xxx" type="radio" name="ratingz"
                                                                   value="star-9"/>
                                                            <label for="star-9xxx" data-value="9" title="9 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-8xxx" type="radio" name="ratingz"
                                                                   value="star-8"/>
                                                            <label for="star-8xxx" data-value="8" title="8 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-7xxx" type="radio" name="ratingz"
                                                                   value="star-7"/>
                                                            <label for="star-7xxx" data-value="7" title="7 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-6xxx" type="radio" name="ratingz"
                                                                   value="star-6"/>
                                                            <label for="star-6xxx" data-value="6" title="6 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-5xxx" type="radio" name="ratingz"
                                                                   value="star-5"/>
                                                            <label for="star-5xxx" data-value="5" title="5 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-4xxx" type="radio" name="ratingz" value="star-4"
                                                                   checked/>
                                                            <label for="star-4xxx" data-value="4" title="4 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-3xxx" type="radio" name="ratingz"
                                                                   value="star-3"/>
                                                            <label for="star-3xxx" data-value="3" title="3 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-2xxx" type="radio" name="ratingz"
                                                                   value="star-2"/>
                                                            <label for="star-2xxx" data-value="2" title="2 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                            <input id="star-1xxx" type="radio" name="ratingz"
                                                                   value="star-1"/>
                                                            <label for="star-1xxx" data-value="1" title="1 star">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            </label>

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="form-buttons">
                                                    <button type="submit" class="btn btn-default">Отправить</button>
                                                    <input type="reset" class="btn btn-default gray" value="Сбросить">
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="doctors_page__tabs__feedbacks">
                                        <div class="feedbacks__item">
                                            <div class="feedbacks__item__author clearfix">
                                                <div>
                                                    <img src="img/user.svg"
                                                         class="user">
                                                <span class="feedbacks__item__rating visible-xs-inline-block">
                                                    <i class="ion-android-star-outline"></i>
                                                    <span>9,8</span>
                                                </span>
                                                </div>
                                                <a href="">Ольга Казакова</a>
                                            <span class="feedbacks__item__rating hidden-xs">
                                                <i class="ion-android-star-outline"></i>
                                                <span>9,8</span>
                                            </span>
                                            </div>
                                            <div class="feedbacks__item__text clearfix">
                                                <p>У меня немела левая рука. Каюрова Ирина Владимировна сказала, что
                                                    причина
                                                    носит неврологический характер, провела лечение иглоукалыванием.
                                                    Результат отличный.</p>
                                            </div>
                                            <div class="feedbacks__item__rate clearfix">
                                                <div>
                                                    <span>10</span>Профессионализм
                                                </div>
                                                <div>
                                                    <span>9</span>Внимание
                                                </div>
                                                <div>
                                                    <span>9</span>Цена / Качество
                                                </div>
                                            </div>
                                        </div>
                                        <div class="feedbacks__item">
                                            <div class="feedbacks__item__author clearfix">
                                                <div>
                                                    <img src="img/user.svg"
                                                         class="user">
                                                <span class="feedbacks__item__rating visible-xs-inline-block">
                                                    <i class="ion-android-star-outline"></i>
                                                    <span>9,8</span>
                                                </span>
                                                </div>
                                                <a href="">Снежана Алексеевна Немыкина</a>
                                            <span class="feedbacks__item__rating hidden-xs">
                                                <i class="ion-android-star-outline"></i>
                                                <span>9,6</span>
                                            </span>
                                            </div>
                                            <div class="feedbacks__item__text clearfix">
                                                <p>Хочу от всей души поблагодарить невролога Каюрову Ирину Владимировну!
                                                    Она
                                                    просто замечательный специалист! Мы обратились к ней, когда наша
                                                    дочь-подросток стала постоянно жаловаться на головные боли. Ирина
                                                    Владимировна очень внимательно провела осмотр, назначила
                                                    дополнительное
                                                    обследование. После постановки диагноза мы прошли курс лечения, и
                                                    все
                                                    наладилось. Очень благодарны доктору Каюровой.</p>
                                            </div>
                                            <div class="feedbacks__item__rate clearfix">
                                                <div>
                                                    <span>10</span>Профессионализм
                                                </div>
                                                <div>
                                                    <span>9</span>Внимание
                                                </div>
                                                <div>
                                                    <span>9</span>Цена / Качество
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="doctors_page__tabs__loadmore">
                                        <a href="#">Показать ещё 5 из 14</a>
                                        <p>Каждый отзыв перед публикацией проходит проверку на подлинность. Анонимные
                                            сообщения не рассматриваются. Тексты не редактируются и не фильтруются – все
                                            прошедшие проверку отзывы публикуются «как есть»</p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="aboutdoctor">
                                <div class="wrap">
                                    <div class="doctors_page__tabs__features">
                                        <div>
                                            <img src="img/medal.svg"
                                                 class="medal">
                                            <span>Врач высшей категории</span>
                                        </div>
                                        <div>
                                            <img src="img/comment.svg"
                                                 class="comment">
                                            <span>16 отзывов о враче</span>
                                        </div>
                                        <div>
                                            <img src="img/case.svg"
                                                 class="case">
                                            <span>28 лет стажа</span>
                                        </div>
                                        <div>
                                            <img src="img/ambulance.svg"
                                                 class="ambulance">
                                            <span>Выезд на дом</span>
                                        </div>
                                        <div>
                                            <img src="img/children.svg"
                                                 class="children">
                                            <span>Детский врач</span>
                                        </div>
                                    </div>
                                    <div class="doctors_page__tabs__about">
                                        <h2>О враче</h2>
                                        <div class="about__block">
                                            <h3>Образование</h3>
                                            <ul>
                                                <li><span>Московский Медицинский стоматологический институт, лечебное дело (1986 г.);</span>
                                                </li>
                                                <li><span>Интернатура по специальности невропатология на базе ГКБ № 6(1989г.).</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="about__block">
                                            <h3>Курсы повышения квалицикации</h3>
                                            <ul>
                                                <li><span>Повышение квалификации по специальности «неврология» (Российская
                                                    медицинская академия последипломного образования(2016 г.).</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="services">
                                <div class="wrap">
                                    <div class="doctors_page__tabs__services__dropdowns">
                                        <div>
                                            <select class="selectpicker" data-width="auto">
                                                <option value="">МедлайН — Сервис м. Октябрьское Поле</option>
                                                <option value="">avadfvbafd</option>
                                                <option value="">abafb</option>
                                            </select>
                                        </div>
                                        <div>
                                            <select class="selectpicker" data-width="auto">
                                                <option value="" selected>Все специализации врачей</option>
                                                <option value="">avadfvbafd</option>
                                                <option value="">abafb</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="doctors_page__tabs__services_list">
                                        <ul>
                                            <li>
                                                <span class="key"> Паравертебральная блокада </span>
                                                <span class="value"> 1 300 ₽ </span>
                                            </li>
                                            <li>
                                                <span class="key"> Консультация детского невролога </span>
                                                <span class="value"><span class="old"> 1 500</span>    1 350 ₽ </span>
                                            </li>
                                            <li>
                                                <span class="key"> Консультация невролога </span>
                                                <span class="value"><span class="old"> 1 500</span>    1 350 ₽ </span>
                                            </li>
                                            <li>
                                                <span class="key"> Консультация иглотерапевта </span>
                                                <span class="value"> 1 300 ₽ </span>
                                            </li>
                                            <li>
                                                <span class="key"> Консультация иглорефлексотерапевта </span>
                                                <span class="value"> 1 300 ₽ </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 sidebar_contacts hidden-sm hidden-xs">
                <div class="sidebar_contacts__wrap">
                    <h2>Запись к врачу  по телефону</h2>
                    <div class="telephone">
                        +7 (495) 230-72-18
                    </div>

                    <div class="hidden-sm hidden-xs sidebar_map">
                        <div id="map2" style="width: 100%;height: 100%;"></div>
                    </div>

                    <div class="address_block">
                        <h3>МедлайН — Сервис  м.Октябрьское Поле</h3>
                        <div class="address_item">
                            <img src="img/pin.png"
                                 srcset="img/pin@2x.png 2x, img/pin@3x.png 3x"
                                 class="pin">
                            <a href="" class="address">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                        </div>
                        <div class="address_item">
                            <div class="stop"></div>
                            <span>Выставочная</span>
                        </div>
                        <div class="time">
                            <div class="address_item">
                                <img src="img/pedestrian.png"
                                     srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x"
                                     class="pedestrian">
                                <span>18 мин</span>
                            </div>
                            <div class="address_item">
                                <img src="img/bus.png"
                                     srcset="img/bus@2x.png 2x, img/bus@3x.png 3x"
                                     class="bus">
                                <span>18 мин</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 slider_block hidden-xs">
                <h2>Похожие врачи</h2>
                <div class="owl-carousel">
                    <div>
                        <div class="slider_block__item">
                            <div class="photo_name">
                                <div class="photo">
                                    <img src="http://lorempixel.com/400/200/people" alt="">
                                </div>
                                <div class="name">Шадрина  Евгения Евгеньевна</div>
                            </div>
                            <div class="rating_feedback">
                                <div><img src="img/star.svg" class="star"><span>9.7</span></div>
                                <div><img src="img/comment.svg" class="comment"><span>16 отзывов</span></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slider_block__item">
                            <div class="photo_name">
                                <div class="photo">
                                    <img src="http://lorempixel.com/400/200/people" alt="">
                                </div>
                                <div class="name">Накулян  Лидия Оганесовна</div>
                            </div>
                            <div class="rating_feedback">
                                <div><img src="img/star.svg" class="star"><span>9.7</span></div>
                                <div><img src="img/comment.svg" class="comment"><span>16 отзывов</span></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slider_block__item">
                            <div class="photo_name">
                                <div class="photo">
                                    <img src="http://lorempixel.com/400/200/people" alt="">
                                </div>
                                <div class="name">Мирошник  Елена Евгеньевна</div>
                            </div>
                            <div class="rating_feedback">
                                <div><img src="img/star.svg" class="star"><span>9.7</span></div>
                                <div><img src="img/comment.svg" class="comment"><span>16 отзывов</span></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slider_block__item">
                            <div class="photo_name">
                                <div class="photo">
                                    <img src="http://lorempixel.com/400/200/people" alt="">
                                </div>
                                <div class="name">Гудкова  Олеся Владимировна</div>
                            </div>
                            <div class="rating_feedback">
                                <div><img src="img/star.svg" class="star"><span>9.7</span></div>
                                <div><img src="img/comment.svg" class="comment"><span>16 отзывов</span></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slider_block__item">
                            <div class="photo_name">
                                <div class="photo">
                                    <img src="http://lorempixel.com/400/200/people" alt="">
                                </div>
                                <div class="name">Мирошник  Елена Евгеньевна</div>
                            </div>
                            <div class="rating_feedback">
                                <div><img src="img/star.svg" class="star"><span>9.7</span></div>
                                <div><img src="img/comment.svg" class="comment"><span>16 отзывов</span></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slider_block__item">
                            <div class="photo_name">
                                <div class="photo">
                                    <img src="http://lorempixel.com/400/200/people" alt="">
                                </div>
                                <div class="name">Шадрина  Евгения Евгеньевна</div>
                            </div>
                            <div class="rating_feedback">
                                <div><img src="img/star.svg" class="star"><span>9.7</span></div>
                                <div><img src="img/comment.svg" class="comment"><span>16 отзывов</span></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slider_block__item">
                            <div class="photo_name">
                                <div class="photo">
                                    <img src="http://lorempixel.com/400/200/people" alt="">
                                </div>
                                <div class="name">Шадрина  Евгения Евгеньевна</div>
                            </div>
                            <div class="rating_feedback">
                                <div><img src="img/star.svg" class="star"><span>9.7</span></div>
                                <div><img src="img/comment.svg" class="comment"><span>16 отзывов</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 map_big visible-lg-block" style="margin-top: 17px">
                <div id="map3" style="width: 100%;height: 100%;"></div>
            </div>
        </div>
    </div>
</div>

<footer class="main_footer with_phone">
    <ul class="footer_menu">
        <li><a href="doctors.html" class="active">Врачи</a></li>
        <li><a href="clinics.html">Клиники</a></li>
        <li><a href="services.html">Услуги</a></li>
        <li><a href="diagnostics.html">Диагностика</a></li>
        <li><a href="diseases.html">Заболевания</a></li>
    </ul>
    <p class="doctogo_descr text-center">
        <a href="doctogo.ru">doctogo.ru</a> | Сервис для поиска врачей, а также записи к ним.
    </p>
</footer>

<div class="record_phone text-center visible-xs-block">
    <div>Запишитесь по телефону:</div>
    <a href=""><i class="ion-ios-telephone"></i> +7 (495) 230-72-18</a>
</div>

<!--Mobile Feedback Form-->
<div class="collapse feedback_collapse feedback_collapse_mobile" id="collapseExample1">
    <div class="feedback_form">
        <h2>Оставьте свой отзыв
            <a href="#" class="feedback_form__close hidden-xs">Закрыть <img src="img/combined-shape.svg"
                                                                            class="combined-shape"></a>
            <a href="#" class="feedback_form__close close__mobile visible-xs-inline-block"> <img
                    src="img/combined-shape.svg" class="combined-shape"></a>
        </h2>
        <form action="" class="feedback_form_body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Введите ваше имя">
            </div>
            <div class="form-group">
                <input type="text" name="phone" required class="form-control" placeholder="Введите ваш телефон">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Напишите отзыв"></textarea>
            </div>
            <div class="form-rates">

                <div class="rates-wrap">
                    <div class="wrap-label">Профессионализм</div>
                    <div class="star-rating clearfix">

                        <input id="mstar-10x" type="radio" name="rating" value="star-10"/>
                        <label for="mstar-10x" data-value="10" title="10 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-9x" type="radio" name="rating" value="star-9"/>
                        <label for="mstar-9x" data-value="9" title="9 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-8x" type="radio" name="rating" value="star-8"/>
                        <label for="mstar-8x" data-value="8" title="8 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-7x" type="radio" name="rating" value="star-7"/>
                        <label for="mstar-7x" data-value="7" title="7 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-6x" type="radio" name="rating" value="star-6"/>
                        <label for="mstar-6x" data-value="6" title="6 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-5x" type="radio" name="rating" value="star-5"/>
                        <label for="mstar-5x" data-value="5" title="5 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-4x" type="radio" name="rating" value="star-4"/>
                        <label for="mstar-4x" data-value="4" title="4 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-3x" type="radio" name="rating" value="star-3" checked/>
                        <label for="mstar-3x" data-value="3" title="3 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-2x" type="radio" name="rating" value="star-2"/>
                        <label for="mstar-2x" data-value="2" title="2 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-1x" type="radio" name="rating" value="star-1"/>
                        <label for="mstar-1x" data-value="1" title="1 star">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                    </div>
                </div>

                <div class="rates-wrap">
                    <div class="wrap-label">Внимание</div>
                    <div class="star-rating clearfix">

                        <input id="mstar-10xx" type="radio" name="ratingy" value="star-10"/>
                        <label for="mstar-10xx" data-value="10" title="10 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-9xx" type="radio" name="ratingy" value="star-9"/>
                        <label for="mstar-9xx" data-value="9" title="9 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-8xx" type="radio" name="ratingy" value="star-8"/>
                        <label for="mstar-8xx" data-value="8" title="8 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-7xx" type="radio" name="ratingy" value="star-7"/>
                        <label for="mstar-7xx" data-value="7" title="7 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-6xx" type="radio" name="ratingy" value="star-6"/>
                        <label for="mstar-6xx" data-value="6" title="6 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-5xx" type="radio" name="ratingy" value="star-5"/>
                        <label for="mstar-5xx" data-value="5" title="5 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-4xx" type="radio" name="ratingy" value="star-4" checked/>
                        <label for="mstar-4xx" data-value="4" title="4 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-3xx" type="radio" name="ratingy" value="star-3"/>
                        <label for="mstar-3xx" data-value="3" title="3 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-2xx" type="radio" name="ratingy" value="star-2"/>
                        <label for="mstar-2xx" data-value="2" title="2 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-1xx" type="radio" name="ratingy" value="star-1"/>
                        <label for="mstar-1xx" data-value="1" title="1 star">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                    </div>
                </div>

                <div class="rates-wrap">
                    <div class="wrap-label">Цена / Качество</div>
                    <div class="star-rating clearfix">

                        <input id="mstar-10xxx" type="radio" name="ratingz" value="star-10"/>
                        <label for="mstar-10xxx" data-value="10" title="10 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-9xxx" type="radio" name="ratingz" value="star-9"/>
                        <label for="mstar-9xxx" data-value="9" title="9 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-8xxx" type="radio" name="ratingz" value="star-8"/>
                        <label for="mstar-8xxx" data-value="8" title="8 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-7xxx" type="radio" name="ratingz" value="star-7"/>
                        <label for="mstar-7xxx" data-value="7" title="7 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-6xxx" type="radio" name="ratingz" value="star-6"/>
                        <label for="mstar-6xxx" data-value="6" title="6 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-5xxx" type="radio" name="ratingz" value="star-5"/>
                        <label for="mstar-5xxx" data-value="5" title="5 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-4xxx" type="radio" name="ratingz" value="star-4" checked/>
                        <label for="mstar-4xxx" data-value="4" title="4 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-3xxx" type="radio" name="ratingz" value="star-3"/>
                        <label for="mstar-3xxx" data-value="3" title="3 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-2xxx" type="radio" name="ratingz" value="star-2"/>
                        <label for="mstar-2xxx" data-value="2" title="2 stars">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                        <input id="mstar-1xxx" type="radio" name="ratingz" value="star-1"/>
                        <label for="mstar-1xxx" data-value="1" title="1 star">
                                                            <span class="rating-star">
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                        </label>

                    </div>
                </div>

            </div>
            <div class="form-buttons">
                <button type="submit" class="btn btn-default">Отправить</button>
                <input type="reset" class="btn btn-default gray" value="Сбросить">
            </div>
        </form>
    </div>
</div>

<!--Mobile Enroll (Record) Form-->
<div class="enroll_mobile">
    <h2 class="modal-title" id="myModalLabel">Запись к врачу
        <button type="button" class="close enroll_mobile_close">
            <img src="img/close.svg">
        </button>
    </h2>
    <div class="enroll_mobile_body">
        <div class="clearfix doctor_info">
            <div class="col-xs-2 doctor_info__img">
                <div>
                    <img src="http://lorempixel.com/300/300/people" alt="">
                </div>
                <span class="rating clearfix">
                    <img src="img/star.png"
                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                         class="star">
                    <span>9,9</span>
                </span>
            </div>
            <div class="col-xs-10 doctor_info_name">
                <h3>Каюрова  Ирина Владимировна</h3>
                <div class="specialization">Невролог, Иглотерапевт, Иглорефлексотерапевт</div>
            </div>
        </div>
        <div class="clearfix doctor_address">
            <div class="address">
                <div class="address_item">
                    <img src="img/pin.png" srcset="img/pin@2x.png 2x, img/pin@3x.png 3x" class="pin">
                    <a href="#">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                </div>
                <div class="address_item">
                    <div class="stop"></div>
                    <span>Выставочная</span>
                    <div>
                        <button type="button" class="more_stations">Еще станции</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix doctor_form">
            <form action="">
                <div class="form-group">
                    <input type="text" class="form-control" required placeholder="Введите ваше имя">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="phone" required placeholder="Введите ваш телефон">
                </div>
                <div class="form-group">
                    <div class="form-control date-control">
                        <input type="text" class="dateinput" placeholder="Желательная дата приема">
                        <i class="ion-chevron-down"></i>
                        <div class="date_picker" id="date_picker4"></div>
                        <input type="hidden" id="my_hidden_input4" class="hidden_input">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <select>
                            <option value="" selected>Выберите время приема</option>
                            <option value="">Утро</option>
                            <option value="">День</option>
                            <option value="">Вечер</option>
                        </select>
                        <i class="ion-chevron-down"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <select>
                            <option value="" selected>Когда удобно вам звонить</option>
                            <option value="в любое время">в любое время</option>
                            <option value="через час">через час</option>
                            <option value="утром">утром</option>
                            <option value="днём">днём</option>
                            <option value="вечером">вечером</option>
                        </select>
                        <i class="ion-chevron-down"></i>
                    </div>
                </div>
                <p class="warningtext">После отправки с Вами в ближайшее время свяжется специалист call-центра и уточнит
                    все интересующие Вас вопросы.</p>
                <button type="submit" class="btn btn-default submit-btn">Записаться</button>
            </form>
        </div>
    </div>
</div>

@@include('_footer.html')
