@@include('_header.html')
<a href="#" class="filter_toggle visible-xs-inline-block">
    <img src="../img/filter.svg" alt="">
</a>
@@include('_header1.html')

<div class="top_content top_content_doctors hidden-xs">

    <div class="container">

        <ul class="main-menu">
            <li><a href="doctors.html" class="active">Врачи</a></li>
            <li><a href="clinics.html">Клиники</a></li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="diagnostics.html">Диагностика</a></li>
            <li><a href="diseases.html">Заболевания</a></li>
        </ul>

        <form action="">
            <div class="btn-group search_dropdown search_dropdown2">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <img src="../img/list.svg" class="menu_icon">
                    Выберите интересующую вас специальность
                    <i class="ion-chevron-down arrow_icon"></i>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <div class="form-group">
                        <i class="ion-android-search"></i>
                        <input type="text" class="form-control">
                    </div>
                    <ul>
                        <li><a href="">Акушер-гинеколог</a></li>
                        <li><a href="">Аллерголог</a></li>
                        <li><a href="">Ангиолог</a></li>
                        <li><a href="">Анестезиолог</a></li>
                        <li><a href="">Артролог</a></li>
                        <li><a href="">Бариатрический хирург</a></li>
                        <li><a href="">Венеролог</a></li>
                        <li><a href="">Вертебролог</a></li>
                        <li><a href="">Вертеброневролог</a></li>
                        <li><a href="">Висцеральный терапевт</a></li>
                        <li><a href="">Врач ЛФК </a></li>
                    </ul>
                </div>
            </div>
        </form>

    </div>

</div>

<div class="center_content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 left_content">
                <ol class="breadcrumb hidden-xs">
                    <li><a href="#">Главная</a></li>
                    <li class="active">Врачи</li>
                </ol>

                <h1 class="hidden-xs">Лучшие врачи Москвы</h1>

                <div class="search_result hidden-xs">
                    <div class="label">Найдено:</div>
                    <div class="search_result__items">
                        <img src="img/doctor.png"
                             srcset="img/doctor@2x.png 2x, img/doctor@3x.png 3x"
                             class="doctor">
                        <span class="number">7 000</span>врачей
                    </div>
                    <div class="search_result__items">
                        <img src="img/purse.png"
                             srcset="img/purse@2x.png 2x, img/purse@3x.png 3x"
                             class="purse">
                        <span class="number">2 000 <span class="currency">₽</span></span>средняя цена приёма
                    </div>
                    <div class="search_result__items">
                        <img src="img/hospital.png"
                             srcset="img/hospital@2x.png 2x,img/hospital@3x.png 3x"
                             class="hospital">
                        <span class="number">478</span>клиник
                    </div>
                    <div class="search_result__items">
                        <img src="img/service.png"
                             srcset="img/service@2x.png 2x, img/service@3x.png 3x"
                             class="service">
                        <span class="number">1 543</span>услуги
                    </div>
                </div>

                <div class="btn-group search_dropdown search_dropdown2 visible-xs-block" style="margin-bottom: 17px">
                    <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle_mobile">
                        <img src="../img/list.svg" class="menu_icon">
                        Выберите <span class="hidden-xs">интересующую вас </span> специальность
                        <i class="ion-chevron-down arrow_icon"></i>
                    </button>
                </div>

                <div class="filters clearfix hidden-xs">
                    <div class="dropdown metros">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Выберите метро
                            <span class="ion-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="">По умолчанию </a></li>
                            <li><a href="">Сначала дешевле </a></li>
                            <li><a href="">Сначала дороже </a></li>
                            <li><a href="">По рейтингу</a></li>
                            <li><a href=""> По стажу </a></li>
                            <li><a href="">По отзывам </a></li>
                        </ul>
                    </div>

                    <div class="btn-group checkboxes" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="checkbox" > Выезд на дом
                        </label>
                        <label class="btn btn-primary">
                            <input type="checkbox" > Детский врач
                        </label>
                    </div>

                    <div class="btn-group radios" >
                        <label class="btn btn-primary gender">
                            <input type="checkbox" class="filter-radio" id="male_id">
                            <span><i class="ion-male"></i></span>
                        </label>
                        <label class="btn btn-primary gender">
                            <input type="checkbox" class="filter-radio" id="female_id">
                            <span><i class="ion-female"></i></span>
                        </label>
                    </div>

                    <div class="dropdown sorting">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Сортировать
                            <span class="ion-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="">По умолчанию </a></li>
                            <li><a href="">Сначала дешевле </a></li>
                            <li><a href="">Сначала дороже </a></li>
                            <li><a href="">По рейтингу</a></li>
                            <li><a href=""> По стажу </a></li>
                            <li><a href="">По отзывам </a></li>
                        </ul>
                    </div>

                </div>

                <div class="doctors_list clearfix">
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                                <span class="rating clearfix">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </span>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10 col-sm-7">
                                <a href="doctors-more.html" class="name">Халатян Света Мишаевна</a>
                                <div class="profession">Пластический хирург</div>
                                <div class="experience hidden-xs">Стаж 11 лет</div>
                            </div>
                            <div class="doctors_list__item__rating col-sm-3 hidden-xs">
                                <div class="rating">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </div>
                                <div class="feedbacks">
                                    <a href="">2 отзыва</a>
                                </div>
                                <div class="last_feedbacks">
                                    <a href="">Последние отзывы</a>
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll">
                            <div class="consultation_price">
                                <span class="label">Консультация невролога:</span>
                                <span class="prices">
                                    <span class="old-price">1 500</span>
                                    <span class="new-price">1 350</span>
                                    <span class="currency">₽</span>
                                </span>
                                <img src="../img/discount.svg" class="doctogo_discount">
                            </div>
                            <a href="#" class="btn btn-default hidden-xs" data-toggle="modal" data-target="#doctorEnrollModal">Записаться</a>
                            <a href="#" class="btn btn-default enroll_link visible-xs-inline-block">Записаться</a>
                            <!-- Modal -->
                            <div class="modal fade enroll_modal" id="doctorEnrollModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="myModalLabel">Запись к врачу
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span>Закрыть</span> <img src="img/combined-shape.svg" class="combined-shape"></button>
                                            </h2>
                                        </div>
                                        <div class="modal-body">
                                            <div class="clearfix">
                                                <div class="col-xs-5 doctor_info">
                                                    <div class="doctor_info__img">
                                                        <img src="http://lorempixel.com/300/300/people" alt="">
                                                    </div>
                                                    <h3>Каюрова  Ирина Владимировна</h3>
                                                    <div class="specialization">Невролог, Иглотерапевт, Иглорефлексотерапевт</div>
                                                    <div class="office">МедлайН — Сервис  м. Октябрьское Поле</div>
                                                    <div class="address">
                                                        <div class="address_item">
                                                            <img src="img/pin.png" srcset="img/pin@2x.png 2x, img/pin@3x.png 3x" class="pin">
                                                            <a href="#">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                                                        </div>
                                                        <div class="address_item">
                                                            <div class="stop"></div>
                                                            <span>Выставочная</span>
                                                        </div>
                                                        <div class="time">
                                                            <div class="address_item">
                                                                <img src="img/pedestrian.png" srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x" class="pedestrian">
                                                                <span>18 мин</span>
                                                            </div>
                                                            <div class="address_item">
                                                                <img src="img/bus.png" srcset="img/bus@2x.png 2x, img/bus@3x.png 3x" class="bus">
                                                                <span>18 мин</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-7 doctor_form">
                                                    <form action="">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" required placeholder="Введите ваше имя">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="phone" required placeholder="Введите ваш телефон">
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-control date-control">
                                                                <input type="text" class="dateinput" placeholder="Желательная дата приема">
                                                                <i class="ion-chevron-down"></i>
                                                                <div class="date_picker" id="datepicker1" data-date="11/03/2012"></div>
                                                                <input type="hidden" id="my_hidden_input1" class="hidden_input">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-control">
                                                                <select>
                                                                    <option value="" selected>Выберите время приема</option>
                                                                    <option value="">Утро</option>
                                                                    <option value="">День</option>
                                                                    <option value="">Вечер</option>
                                                                </select>
                                                                <i class="ion-chevron-down"></i>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-control">
                                                                <select>
                                                                    <option value="" selected>Когда удобно вам звонить</option>
                                                                    <option value="в любое время">в любое время</option>
                                                                    <option value="через час">через час</option>
                                                                    <option value="утром">утром</option>
                                                                    <option value="днём">днём</option>
                                                                    <option value="вечером">вечером</option>
                                                                </select>
                                                                <i class="ion-chevron-down"></i>
                                                            </div>
                                                        </div>
                                                        <p class="warningtext">После отправки с Вами в ближайшее время свяжется специалист call-центра и уточнит все интересующие Вас вопросы.</p>
                                                        <button type="submit" class="btn btn-default submit-btn">Записаться</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__address">
                            <div>
                                <img src="img/pin.png"
                                     srcset="img/pin@2x.png 2x, img/pin@3x.png 3x"
                                     class="pin">
                                <a href="" class="address">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                            </div>
                            <div>
                                <div class="stop"></div>
                                <span>Выставочная</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/pedestrian.png"
                                     srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x"
                                     class="pedestrian">
                                <span>18 мин</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/bus.png"
                                     srcset="img/bus@2x.png 2x, img/bus@3x.png 3x"
                                     class="bus">
                                <span>18 мин</span>
                            </div>
                            <div>
                                <button type="button" class="more_stations">Еще станции</button>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people/1" alt="">
                                </div>
                                <span class="rating clearfix">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </span>
                            </div>
                            <div class="doctors_list__item__bio col-xs-7">
                                <a href="" class="name">Каюрова Ирина Владимировна</a>
                                <div class="profession">Пластический хирург</div>
                                <div class="experience hidden-xs">Стаж 11 лет</div>
                            </div>
                            <div class="doctors_list__item__rating col-sm-3 hidden-xs">
                                <div class="rating">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,7</span>
                                </div>
                                <div class="feedbacks">
                                    <a href="">2 отзыва</a>
                                </div>
                                <div class="last_feedbacks">
                                    <a href="">Последние отзывы</a>
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll">
                            <div class="consultation_price">
                                <span class="label">Консультация невролога:</span>
                                <span class="prices">
                                    <span class="new-price">1 350</span>
                                    <span class="currency">₽</span>
                                </span>
                            </div>
                            <a href="" class="btn btn-default">Записаться</a>
                        </div>
                        <div class="doctors_list__item__address">
                            <div>
                                <img src="img/pin.png"
                                     srcset="img/pin@2x.png 2x, img/pin@3x.png 3x"
                                     class="pin">
                                <a href="" class="address">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                            </div>
                            <div>
                                <div class="stop"></div>
                                <span>Выставочная</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/pedestrian.png"
                                     srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x"
                                     class="pedestrian">
                                <span>18 мин</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/bus.png"
                                     srcset="img/bus@2x.png 2x, img/bus@3x.png 3x"
                                     class="bus">
                                <span>18 мин</span>
                            </div>
                            <div>
                                <button type="button" class="more_stations">Еще станции</button>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people/2" alt="">
                                </div>
                                <span class="rating clearfix">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </span>
                            </div>
                            <div class="doctors_list__item__bio col-xs-7">
                                <a href="" class="name">Халатян Света Мишаевна</a>
                                <div class="profession">Пластический хирург</div>
                                <div class="experience hidden-xs">Стаж 11 лет</div>
                            </div>
                            <div class="doctors_list__item__rating col-sm-3 hidden-xs">
                                <div class="rating">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,6</span>
                                </div>
                                <div class="feedbacks">
                                    <a href="">2 отзыва</a>
                                </div>
                                <div class="last_feedbacks">
                                    <a href="">Последние отзывы</a>
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll">
                            <div class="consultation_price">
                                <span class="label">Консультация невролога:</span>
                                <span class="prices">
                                    <span class="new-price">1 350</span>
                                    <span class="currency">₽</span>
                                </span>
                            </div>
                            <a href="" class="btn btn-default">Записаться</a>
                        </div>
                        <div class="doctors_list__item__address">
                            <div>
                                <img src="img/pin.png"
                                     srcset="img/pin@2x.png 2x, img/pin@3x.png 3x"
                                     class="pin">
                                <a href="" class="address">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                            </div>
                            <div>
                                <div class="stop"></div>
                                <span>Выставочная</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/pedestrian.png"
                                     srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x"
                                     class="pedestrian">
                                <span>18 мин</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/bus.png"
                                     srcset="img/bus@2x.png 2x, img/bus@3x.png 3x"
                                     class="bus">
                                <span>18 мин</span>
                            </div>
                            <div>
                                <button type="button" class="more_stations">Еще станции</button>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people/3" alt="">
                                </div>
                                <span class="rating clearfix">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </span>
                            </div>
                            <div class="doctors_list__item__bio col-xs-7">
                                <a href="" class="name">Дедюрин Андрей Анатольевич</a>
                                <div class="profession">Пластический хирург</div>
                                <div class="experience hidden-xs">Стаж 11 лет</div>
                            </div>
                            <div class="doctors_list__item__rating col-sm-3 hidden-xs">
                                <div class="rating">
                                    <img src="img/star.png"
                                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                                         class="star">
                                    <span>9,9</span>
                                </div>
                                <div class="feedbacks">
                                    <a href="">2 отзыва</a>
                                </div>
                                <div class="last_feedbacks">
                                    <a href="">Последние отзывы</a>
                                </div>
                            </div>
                        </div>
                        <div class="doctors_list__item__enroll">
                            <div class="consultation_price">
                                <span class="label">Консультация невролога:</span>
                                <span class="prices">
                                    <span class="new-price">1 350</span>
                                    <span class="currency">₽</span>
                                </span>
                            </div>
                            <a href="" class="btn btn-default">Записаться</a>
                        </div>
                        <div class="doctors_list__item__address">
                            <div>
                                <img src="img/pin.png"
                                     srcset="img/pin@2x.png 2x, img/pin@3x.png 3x"
                                     class="pin">
                                <a href="" class="address">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                            </div>
                            <div>
                                <div class="stop"></div>
                                <span>Выставочная</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/pedestrian.png"
                                     srcset="img/pedestrian@2x.png 2x, img/pedestrian@3x.png 3x"
                                     class="pedestrian">
                                <span>18 мин</span>
                            </div>
                            <div class="hidden-xs">
                                <img src="img/bus.png"
                                     srcset="img/bus@2x.png 2x, img/bus@3x.png 3x"
                                     class="bus">
                                <span>18 мин</span>
                            </div>
                            <div>
                                <button type="button" class="more_stations">Еще станции</button>
                            </div>
                        </div>
                    </div>
                </div>

                <nav class="doc_pagination">
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><i class="ion-ios-arrow-right"></i></a></li>
                    </ul>
                </nav>

                <div class="quote hidden-xs">
                    <div class="quote_icon">
                        <img src="img/quotes.png"
                             srcset="img/quotes@2x.png 2x, img/quotes@3x.png 3x"
                             class="shape">
                    </div>
                    <div class="quote_text">
                        <p>Лучшие врачи — это специалисты, которые востребованы благодаря своим высоким профессиональным и человеческим качествам. Записаться на прием к такому доктору можно круглосуточно, не покидая дом. </p>
                    </div>
                </div>

            </div>
            <div class="col-md-3 sidebar_right hidden-sm hidden-xs">
                <h2>Специализации  врачей</h2>
                <div class="sidebar_list">
                    <div class="sidebar_list__item">
                        <div class="number">549</div>
                        <div class="link">
                            <a href="">Акушер-гинеколог</a>
                            <div>Беременность и роды</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">59</div>
                        <div class="link">
                            <a href="">Аллерголог</a>
                            <div>Аллергические реакции  и заболевания</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">9</div>
                        <div class="link">
                            <a href="">Андролог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">9</div>
                        <div class="link">
                            <a href="">Ангиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">150</div>
                        <div class="link">
                            <a href="">Анестезиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">123</div>
                        <div class="link">
                            <a href="">Ангиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">9</div>
                        <div class="link">
                            <a href="">Акушер-гинеколог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">23</div>
                        <div class="link">
                            <a href="">Ангиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="search_mobile">
    <h2>
        Выбрать специальность
        <a href="#" class="search_mobile__close">
            <img src="../img/close.svg" class="close">
        </a>
    </h2>
    <form action="" class="search_mobile_form">
        <div class="form-group">
            <i class="ion-android-search"></i>
            <input type="text" class="form-control" placeholder="Название специальности">
        </div>
        <ul>
            <li><a href="">Акушер-гинеколог</a></li>
            <li><a href="">Аллерголог</a></li>
            <li><a href="">Ангиолог</a></li>
            <li><a href="">Анестезиолог</a></li>
            <li><a href="">Артролог</a></li>
            <li><a href="">Бариатрический хирург</a></li>
            <li><a href="">Венеролог</a></li>
            <li><a href="">Вертебролог</a></li>
            <li><a href="">Вертеброневролог</a></li>
            <li><a href="">Висцеральный терапевт</a></li>
            <li><a href="">Врач ЛФК </a></li>
        </ul>
    </form>
</div>

<footer class="main_footer with_phone">
    <ul class="footer_menu">
        <li><a href="doctors.html" class="active">Врачи</a></li>
        <li><a href="clinics.html">Клиники</a></li>
        <li><a href="services.html">Услуги</a></li>
        <li><a href="diagnostics.html">Диагностика</a></li>
        <li><a href="diseases.html">Заболевания</a></li>
    </ul>
    <p class="doctogo_descr text-center">
        <a href="doctogo.ru">doctogo.ru</a> | Сервис для поиска врачей, а также записи к ним.
    </p>
</footer>

<div class="record_phone text-center visible-xs-block">
    <div>Запишитесь по телефону:</div>
    <a href=""><i class="ion-ios-telephone"></i> +7 (495) 230-72-18</a>
</div>

<!--Mobile Enroll (Record) Form-->
<div class="enroll_mobile">
    <h2 class="modal-title" id="myModalLabel">Запись к врачу
        <button type="button" class="close enroll_mobile_close" >
            <img src="img/close.svg">
        </button>
    </h2>
    <div class="enroll_mobile_body">
        <div class="clearfix doctor_info">
            <div class="col-xs-2 doctor_info__img">
                <div>
                    <img src="http://lorempixel.com/300/300/people" alt="">
                </div>
                <span class="rating clearfix">
                    <img src="img/star.png"
                         srcset="img/star@2x.png 2x,img/star@3x.png 3x"
                         class="star">
                    <span>9,9</span>
                </span>
            </div>
            <div class="col-xs-10 doctor_info_name">
                <h3>Каюрова  Ирина Владимировна</h3>
                <div class="specialization">Невролог, Иглотерапевт, Иглорефлексотерапевт</div>
            </div>
        </div>
        <div class="clearfix doctor_address">
            <div class="address">
                <div class="address_item">
                    <img src="img/pin.png" srcset="img/pin@2x.png 2x, img/pin@3x.png 3x" class="pin">
                    <a href="#">Москва, пр-д Шмитовский, д. 16, стр. 2</a>
                </div>
                <div class="address_item">
                    <div class="stop"></div>
                    <span>Выставочная</span>
                    <div>
                        <button type="button" class="more_stations">Еще станции</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix doctor_form">
            <form action="">
                <div class="form-group">
                    <input type="text" class="form-control" required placeholder="Введите ваше имя">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="phone" required placeholder="Введите ваш телефон">
                </div>
                <div class="form-group">
                    <div class="form-control date-control">
                        <input type="text" class="dateinput" placeholder="Желательная дата приема">
                        <i class="ion-chevron-down"></i>
                        <div class="date_picker" id="datepicker2"></div>
                        <input type="hidden" id="my_hidden_input2" class="hidden_input">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <select>
                            <option value="" selected>Выберите время приема</option>
                            <option value="">Утро</option>
                            <option value="">День</option>
                            <option value="">Вечер</option>
                        </select>
                        <i class="ion-chevron-down"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <select>
                            <option value="" selected>Когда удобно вам звонить</option>
                            <option value="в любое время">в любое время</option>
                            <option value="через час">через час</option>
                            <option value="утром">утром</option>
                            <option value="днём">днём</option>
                            <option value="вечером">вечером</option>
                        </select>
                        <i class="ion-chevron-down"></i>
                    </div>
                </div>
                <p class="warningtext">После отправки с Вами в ближайшее время свяжется специалист call-центра и уточнит
                    все интересующие Вас вопросы.</p>
                <button type="submit" class="btn btn-default submit-btn">Записаться</button>
            </form>
        </div>
    </div>
</div>

@@include('_footer.html')
