@@include('_header.html')
@@include('_header1.html')

<div class="top_content">

    <div class="container">

        <ul class="main-menu hidden-xs">
            <li><a href="doctors.html">Врачи</a></li>
            <li><a href="clinics.html">Клиники</a></li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="diagnostics.html">Диагностика</a></li>
            <li><a href="diseases.html">Заболевания</a></li>
        </ul>
        <h1 class="main_heading hidden-xs">
            Поиск <span class="main_heading_toggle active">врачей</span> или <span class="main_heading_toggle">клиник</span> в Москве
        </h1>
        <h1 class="main_heading visible-xs-block">
            <span class="main_heading_toggle active">Врачи</span> и <span class="main_heading_toggle">клиники</span>
        </h1>
        <form action="" class="form-wrapper">
            <div class="btn-group search_dropdown">
                <div class="dropdown_menuicon">
                    <i class="ion-android-menu"></i>
                </div>
                <button type="button" class="btn dropdown-toggle toggle-arrow hidden-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>Выберите интересующую вас специальность</span>
                    <i class="ion-chevron-down"></i>
                </button>
                <button type="button" class="btn dropdown-toggle dropdown-toggle_mobile toggle-arrow visible-xs-inline-block" >
                    <span>Выбрать специальность</span>
                </button>
                <div class="dropdown-menu">
                    <div class="form-group">
                        <i class="ion-android-search"></i>
                        <input type="text" class="form-control">
                    </div>
                    <ul>
                        <li><a href="">Акушер-гинеколог</a></li>
                        <li><a href="">Аллерголог</a></li>
                        <li><a href="">Ангиолог</a></li>
                        <li><a href="">Анестезиолог</a></li>
                        <li><a href="">Артролог</a></li>
                        <li><a href="">Бариатрический хирург</a></li>
                        <li><a href="">Венеролог</a></li>
                        <li><a href="">Вертебролог</a></li>
                        <li><a href="">Вертеброневролог</a></li>
                        <li><a href="">Висцеральный терапевт</a></li>
                        <li><a href="">Врач ЛФК </a></li>
                    </ul>
                </div>
            </div>
            <div class="btn-group search_dropdown hidden">
                <input type="text" class="form-control" placeholder="Введите название клиники">
            </div>
        </form>
        <div class="counters hidden-xs">
            <div class="zapisi">
                <img src="../img/1-zapisi-copy.svg"
                     class="zapisicopy">
                <span class="text">
                    <span class="number">128</span>записей сегодня
                </span>
            </div>
            <div class="doctors">
                <img src="../img/2-doctors-copy.svg"
                     class="2-doctors-copy">
                <span class="text">
                    <span class="number">7 000</span>врачей
                </span>
            </div>
            <div class="feedbacks">
                <img src="../img/3-otziv-copy.svg"
                     class="3-otziv-copy">
                <span class="text">
                    <span class="number">17 370</span>отзывов
                </span>
            </div>
            <div class="clinics">
                <img src="../img/4-clinic-copy.svg"
                     class="4-clinic-copy">
                <span class="text">
                    <span class="number">720</span>клиник
                </span>
            </div>
        </div>

    </div>

</div>

<div class="center_content index__center_content">
    <div class="container">
        <div class="specializations hidden-xs">
            <h1>Специализации врачей</h1>
            <ul class="specializations_list">
                <li><span class="letter">А</span>
                    <ul>
                        <li><a href="">Акушер-гинеколог</a></li>
                        <li><a href="">Аллерголог</a></li>
                        <li><a href="">Ангиолог</a></li>
                        <li><a href="">Андролог</a></li>
                        <li><a href="">Анестезиолог</a></li>
                        <li><a href="">Артролог</a></li>
                    </ul>
                </li>
                <li><span class="letter">Б</span>
                    <ul>
                        <li><a href="">Бариатрический хирург</a></li>
                    </ul>
                </li>
                <li><span class="letter">В</span>
                    <ul>
                        <li><a href="">Венеролог</a></li>
                        <li><a href="">Вертебролог</a></li>
                        <li><a href="">Вертеброневролог</a></li>
                        <li><a href="">Висцеральный терапевт</a></li>
                        <li><a href="">Врач ЛФК</a></li>
                    </ul>
                </li>
                <li><span class="letter">Г</span>
                    <ul>
                        <li><a href="">Гастроэнтеролог</a></li>
                        <li><a href="">Гематолог</a></li>
                        <li><a href="">Генетик</a></li>
                        <li><a href="">Генитальный хирург</a></li>
                        <li><a href="">Гепатолог</a></li>
                        <li><a href="">Гидроколонотерапевт</a></li>
                        <li><a href="">Гинеколог</a></li>
                        <li><a href="">Гинеколог-репродуктолог</a></li>
                        <li><a href="">Гинеколог-эндокринолог</a></li>
                        <li><a href="">Гирудолог</a></li>
                        <li><a href="">Гирудотерапевт</a></li>
                        <li><a href="">Гомеопат</a></li>
                    </ul>
                </li>
                <li><span class="letter">Д</span>
                    <ul>
                        <li><a href="">Дерматовенеролог</a></li>
                        <li><a href="">Дерматокосметолог</a></li>
                        <li><a href="">Дерматолог</a></li>
                        <li><a href="">Дерматоонколог</a></li>
                        <li><a href="">Детензор терапевт</a></li>
                        <li><a href="">Диетолог</a></li>
                    </ul>
                </li>
                <li><span class="letter">И</span>
                    <ul>
                        <li><a href="">Иглорефлексотерапевт</a></li>
                        <li><a href="">Иглотерапевт</a></li>
                        <li><a href="">Иммунолог</a></li>
                        <li><a href="">Инфекционист</a></li>
                    </ul>
                </li>
                <li><span class="letter">К</span>
                    <ul>
                        <li><a href="">Кайропрактик</a></li>
                        <li><a href="">Кардиолог</a></li>
                        <li><a href="">Кинезотерапевт</a></li>
                        <li><a href="">Колопроктолог</a></li>
                        <li><a href="">Косметолог</a></li>
                        <li><a href="">Косметолог-эстетист</a></li>
                        <li><a href="">КТ-диагност</a></li>
                    </ul>
                </li>
                <li><span class="letter">Л</span>
                    <ul>
                        <li><a href="">Логопед</a></li>
                    </ul>
                </li>
                <li><span class="letter">М</span>
                    <ul>
                        <li><a href="">Маммолог</a></li>
                        <li><a href="">Мануальный терапевт</a></li>
                        <li><a href="">Массажист</a></li>
                        <li><a href="">Миколог</a></li>
                        <li><a href="">Микрохирург</a></li>
                        <li><a href="">МРТ-диагност</a></li>
                    </ul>
                </li>
                <li><span class="letter">Н</span>
                    <ul>
                        <li><a href="">Нарколог</a></li>
                        <li><a href="">Невролог</a></li>
                        <li><a href="">Нейрофизиолог</a></li>
                        <li><a href="">Нейрохирург</a></li>
                        <li><a href="">Неонатолог</a></li>
                        <li><a href="">Нефролог</a></li>
                        <li><a href="">Нутрициолог</a></li>
                    </ul>
                </li>
                <li><span class="letter">О</span>
                    <ul>
                        <li><a href="">Озонотерапевт</a></li>
                        <li><a href="">Онколог</a></li>
                        <li><a href="">Ортодонт</a></li>
                        <li><a href="">Ортопед</a></li>
                        <li><a href="">Остеопат</a></li>
                        <li><a href="">Отоларинголог (лор)</a></li>
                        <li><a href="">Отоневролог</a></li>
                        <li><a href="">Офтальмолог (окулист)</a></li>
                        <li><a href="">Офтальмоонколог</a></li>
                    </ul>
                </li>
                <li><span class="letter">П</span>
                    <ul>
                        <li><a href="">Пародонтолог</a></li>
                        <li><a href="">Педиатр</a></li>
                        <li><a href="">Пластический хирург</a></li>
                        <li><a href="">Подиатр</a></li>
                        <li><a href="">Проктолог</a></li>
                        <li><a href="">Профпатолог</a></li>
                        <li><a href="">Психиатр</a></li>
                        <li><a href="">Психолог</a></li>
                        <li><a href="">Психотерапевт</a></li>
                        <li><a href="">Пульмонолог</a></li>
                    </ul>
                </li>
                <li><span class="letter">Р</span>
                    <ul>
                        <li><a href="">Реабилитолог</a></li>
                        <li><a href="">Реаниматолог</a></li>
                        <li><a href="">Ревматолог</a></li>
                        <li><a href="">Рентгенолог</a></li>
                        <li><a href="">Репродуктолог</a></li>
                        <li><a href="">Рефлексотерапевт</a></li>
                    </ul>
                </li>
                <li><span class="letter">С</span>
                    <ul>
                        <li><a href="">Сексолог</a></li>
                        <li><a href="">Семейный врач</a></li>
                        <li><a href="">Сомнолог</a></li>
                        <li><a href="">Сосудистый хирург</a></li>
                        <li><a href="">Стоматолог</a></li>
                        <li><a href="">Стоматолог-гигиенист</a></li>
                        <li><a href="">Стоматолог-имплантолог</a></li>
                        <li><a href="">Стоматолог-ортопед</a></li>
                        <li><a href="">Стоматолог-протезист</a></li>
                        <li><a href="">Стоматолог-терапевт</a></li>
                        <li><a href="">Стоматолог-хирург</a></li>
                        <li><a href="">Стоматолог-эстетист</a></li>
                        <li><a href="">Сурдолог</a></li>
                    </ul>
                </li>
                <li><span class="letter">Т</span>
                    <ul>
                        <li><a href="">Терапевт</a></li>
                        <li><a href="">Травматолог</a></li>
                        <li><a href="">Травматолог-ортопед</a></li>
                        <li><a href="">Трансфузиолог</a></li>
                        <li><a href="">Трихолог</a></li>
                    </ul>
                </li>
                <li><span class="letter">У</span>
                    <ul>
                        <li><a href="">УЗИ-диагност</a></li>
                        <li><a href="">Уролог</a></li>
                    </ul>
                </li>
                <li><span class="letter">Ф</span>
                    <ul>
                        <li><a href="">Физиотерапевт</a></li>
                        <li><a href="">Фитотерапевт</a></li>
                        <li><a href="">Флеболог</a></li>
                        <li><a href="">Функциональный диагност</a></li>
                    </ul>
                </li>
                <li><span class="letter">Х</span>
                    <ul>
                        <li><a href="">Хиропрактик</a></li>
                        <li><a href="">Хирург</a></li>
                    </ul>
                </li>
                <li><span class="letter">Э</span>
                    <ul>
                        <li><a href="">Эмбриолог</a></li>
                        <li><a href="">Эндокринолог</a></li>
                        <li><a href="">Эндоскопист</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="categories visible-xs-block">
            <div class="clearfix">
                <a href="doctors.html">
                    <span class="img"><img src="img/doctor.png" srcset="img/doctor@2x.png 2x, img/doctor@3x.png 3x" class="doctor"></span>
                    Врачи
                    <i class="ion-chevron-right"></i>
                </a>
            </div>
            <div class="clearfix">
                <a href="clinics.html">
                    <span class="img"><img src="img/hospital.png" srcset="img/hospital@2x.png 2x,img/hospital@3x.png 3x" class="hospital"></span>
                    Клиники
                    <i class="ion-chevron-right"></i>
                </a>
            </div>
            <div class="clearfix">
                <a href="services.html">
                    <span class="img"><img src="img/service.png" srcset="img/service@2x.png 2x, img/service@3x.png 3x" class="service"></span>
                    Услуги
                    <i class="ion-chevron-right"></i>
                </a>
            </div>
            <div class="clearfix">
                <a href="diagnostics.html">
                    <span class="img"><img src="img/stethoscope.svg" class="stethoscope"></span>
                    Диагностика
                    <i class="ion-chevron-right"></i>
                </a>
            </div>
            <div class="clearfix">
                <a href="diseases.html">
                    <span class="img"><img src="img/microbiomes.svg" class="microbiomes"></span>
                    Заболевания
                    <i class="ion-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="search_mobile">
    <h2>
        Выбрать специальность
        <a href="#" class="search_mobile__close">
            <img src="../img/close.svg" class="close">
        </a>
    </h2>
    <form action="" class="search_mobile_form">
        <div class="form-group">
            <i class="ion-android-search"></i>
            <input type="text" class="form-control" placeholder="Название специальности">
        </div>
        <ul>
            <li><a href="">Акушер-гинеколог</a></li>
            <li><a href="">Аллерголог</a></li>
            <li><a href="">Ангиолог</a></li>
            <li><a href="">Анестезиолог</a></li>
            <li><a href="">Артролог</a></li>
            <li><a href="">Бариатрический хирург</a></li>
            <li><a href="">Венеролог</a></li>
            <li><a href="">Вертебролог</a></li>
            <li><a href="">Вертеброневролог</a></li>
            <li><a href="">Висцеральный терапевт</a></li>
            <li><a href="">Врач ЛФК </a></li>
        </ul>
    </form>
</div>

<footer class="main_footer with_phone">
    <ul class="footer_menu">
        <li><a href="doctors.html">Врачи</a></li>
        <li><a href="clinics.html">Клиники</a></li>
        <li><a href="services.html">Услуги</a></li>
        <li><a href="diagnostics.html">Диагностика</a></li>
        <li><a href="diseases.html">Заболевания</a></li>
    </ul>
    <p class="doctogo_descr text-center">
        <a href="doctogo.ru">doctogo.ru</a> | Сервис для поиска врачей, а также записи к ним.
    </p>
</footer>

<div class="record_phone text-center visible-xs-block">
    <div>Запишитесь по телефону:</div>
    <a href=""><i class="ion-ios-telephone"></i> +7 (495) 230-72-18</a>
</div>

@@include('_footer.html')
