@@include('_header.html')
@@include('_header1.html')

<div class="top_content top_content_doctors hidden-xs">

    <div class="container">

        <ul class="main-menu">
            <li><a href="doctors.html">Врачи</a></li>
            <li><a href="clinics.html">Клиники</a></li>
            <li><a href="services.html" class="active">Услуги</a></li>
            <li><a href="diagnostics.html">Диагностика</a></li>
            <li><a href="diseases.html">Заболевания</a></li>
        </ul>

        <form action="">
            <div class="form-group search_input">
                <i class="ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Введите интересующую вас услугу или специализацию">
            </div>
        </form>

    </div>

</div>

<div class="center_content ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 left_content">
                <ol class="breadcrumb hidden-xs">
                    <li><a href="#">Главная</a></li>
                    <li class="active">Услуги</li>
                </ol>

                <h1 class="hidden-xs">Медицинские услуги в Москве</h1>

                <div class="search_result hidden-xs">
                    <div class="label">Найдено:</div>
                    <div class="search_result__items">
                        <img src="img/service.png"
                             srcset="img/service@2x.png 2x, img/service@3x.png 3x"
                             class="service">
                        <span class="number">1 543</span>услуги
                    </div>
                    <div class="search_result__items">
                        <img src="img/hospital.png"
                             srcset="img/hospital@2x.png 2x,img/hospital@3x.png 3x"
                             class="hospital">
                        <span class="number">478</span>клиник
                    </div>
                    <div class="search_result__items">
                        <img src="img/doctor.png"
                             srcset="img/doctor@2x.png 2x, img/doctor@3x.png 3x"
                             class="doctor">
                        <span class="number">7 000</span>врачей
                    </div>
                </div>

                <div class="filters clearfix hidden-xs">
                    <div class="dropdown metros">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Выберите метро
                            <span class="ion-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="">По умолчанию </a></li>
                            <li><a href="">Сначала дешевле </a></li>
                            <li><a href="">Сначала дороже </a></li>
                            <li><a href="">По рейтингу</a></li>
                            <li><a href=""> По стажу </a></li>
                            <li><a href="">По отзывам </a></li>
                        </ul>
                    </div>

                    <div class="btn-group checkboxes" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="checkbox" autocomplete="off" checked> Выезд на дом
                        </label>
                        <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off"> Детский врач
                        </label>
                    </div>

                    <div class="btn-group radios" >
                        <label class="btn btn-primary gender">
                            <input type="checkbox" class="filter-radio" id="male_id">
                            <span><i class="ion-male"></i></span>
                        </label>
                        <label class="btn btn-primary gender">
                            <input type="checkbox" class="filter-radio" id="female_id">
                            <span><i class="ion-female"></i></span>
                        </label>
                    </div>

                    <div class="dropdown sorting">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Сортировать
                            <span class="ion-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="">По умолчанию </a></li>
                            <li><a href="">Сначала дешевле </a></li>
                            <li><a href="">Сначала дороже </a></li>
                            <li><a href="">По рейтингу</a></li>
                            <li><a href=""> По стажу </a></li>
                            <li><a href="">По отзывам </a></li>
                        </ul>
                    </div>

                </div>

                <div class="form-group search_input visible-xs-block" style="margin-bottom: 17px">
                    <i class="ion-android-search"></i>
                    <input type="text" class="form-control" placeholder="Введите специализацию">
                </div>

                <div class="doctors_list clearfix">
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10">
                                <a href="services-more.html" class="name">Анализ крови</a>
                                <div class="service_features">
                                    <div>
                                        <img src="img/purse.svg" class="purse hidden-xs">
                                        <img src="img/purse_red.svg" class="purse visible-xs-inline-block">
                                        <span class="number">400 <span class="currency">₽</span></span>
                                        <span class="text hidden-xs">средняя цена приёма</span>
                                    </div>
                                    <div class="hidden-xs">
                                        <img src="img/hospital.svg" class="hospital">
                                        <span class="number">478</span>
                                        <span class="text">клиник</span>
                                    </div>
                                    <div class="hidden-xs">
                                        <img src="img/group.svg" class="group">
                                        <span class="number">105</span>
                                        <span class="text">врачей</span>
                                    </div>
                                </div>
                            </div>
                            <div class="services_features_mobile clearfix visible-xs-block">
                                <div class="service_features">
                                    <div>
                                        <img src="img/hospital_mini.svg" class="hospital">
                                        <span class="number">478</span>
                                        <span class="text">клиник</span>
                                    </div>
                                    <div>
                                        <img src="img/doc_mini.svg" class="group">
                                        <span class="number">105</span>
                                        <span class="text">врачей</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10">
                                <a href="clinics-more.html" class="name">Оформление справки для ГИБДД</a>
                                <div class="service_features">
                                    <div>
                                        <img src="img/purse.svg" class="purse hidden-xs">
                                        <img src="img/purse_red.svg" class="purse visible-xs-inline-block">
                                        <span class="number">400 <span class="currency">₽</span></span>
                                        <span class="text hidden-xs">средняя цена приёма</span>
                                    </div>
                                    <div class="hidden-xs">
                                        <img src="img/hospital.svg" class="hospital">
                                        <span class="number">478</span>
                                        <span class="text">клиник</span>
                                    </div>
                                    <div class="hidden-xs">
                                        <img src="img/group.svg" class="group">
                                        <span class="number">105</span>
                                        <span class="text">врачей</span>
                                    </div>
                                </div>
                            </div>
                            <div class="services_features_mobile clearfix visible-xs-block">
                                <div class="service_features">
                                    <div>
                                        <img src="img/hospital_mini.svg" class="hospital">
                                        <span class="number">478</span>
                                        <span class="text">клиник</span>
                                    </div>
                                    <div>
                                        <img src="img/doc_mini.svg" class="group">
                                        <span class="number">105</span>
                                        <span class="text">врачей</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10">
                                <a href="services-more.html" class="name">Анализ крови</a>
                                <div class="service_features">
                                    <div>
                                        <img src="img/purse.svg" class="purse hidden-xs">
                                        <img src="img/purse_red.svg" class="purse visible-xs-inline-block">
                                        <span class="number">400 <span class="currency">₽</span></span>
                                        <span class="text hidden-xs">средняя цена приёма</span>
                                    </div>
                                    <div class="hidden-xs">
                                        <img src="img/hospital.svg" class="hospital">
                                        <span class="number">478</span>
                                        <span class="text">клиник</span>
                                    </div>
                                    <div class="hidden-xs">
                                        <img src="img/group.svg" class="group">
                                        <span class="number">105</span>
                                        <span class="text">врачей</span>
                                    </div>
                                </div>
                            </div>
                            <div class="services_features_mobile clearfix visible-xs-block">
                                <div class="service_features">
                                    <div>
                                        <img src="img/hospital_mini.svg" class="hospital">
                                        <span class="number">478</span>
                                        <span class="text">клиник</span>
                                    </div>
                                    <div>
                                        <img src="img/doc_mini.svg" class="group">
                                        <span class="number">105</span>
                                        <span class="text">врачей</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="doctors_list__item">
                        <div class="doctors_list__item__info clearfix">
                            <div class="doctors_list__item__avatar col-xs-2">
                                <div>
                                    <img src="http://lorempixel.com/300/300/people" alt="">
                                </div>
                            </div>
                            <div class="doctors_list__item__bio col-xs-10">
                                <a href="clinics-more.html" class="name">Оформление справки для ГИБДД</a>
                                <div class="service_features">
                                    <div>
                                        <img src="img/purse.svg" class="purse hidden-xs">
                                        <img src="img/purse_red.svg" class="purse visible-xs-inline-block">
                                        <span class="number">400 <span class="currency">₽</span></span>
                                        <span class="text hidden-xs">средняя цена приёма</span>
                                    </div>
                                    <div class="hidden-xs">
                                        <img src="img/hospital.svg" class="hospital">
                                        <span class="number">478</span>
                                        <span class="text">клиник</span>
                                    </div>
                                    <div class="hidden-xs">
                                        <img src="img/group.svg" class="group">
                                        <span class="number">105</span>
                                        <span class="text">врачей</span>
                                    </div>
                                </div>
                            </div>
                            <div class="services_features_mobile clearfix visible-xs-block">
                                <div class="service_features">
                                    <div>
                                        <img src="img/hospital_mini.svg" class="hospital">
                                        <span class="number">478</span>
                                        <span class="text">клиник</span>
                                    </div>
                                    <div>
                                        <img src="img/doc_mini.svg" class="group">
                                        <span class="number">105</span>
                                        <span class="text">врачей</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <nav class="doc_pagination">
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><i class="ion-ios-arrow-right"></i></a></li>
                    </ul>
                </nav>

            </div>
            <div class="col-md-3 hidden-sm hidden-xs sidebar_right">
                <h2>Услуги  по специализациям</h2>
                <div class="sidebar_list">
                    <div class="sidebar_list__item">
                        <div class="number">549</div>
                        <div class="link">
                            <a href="">Акушер-гинеколог</a>
                            <div>Беременность и роды</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">59</div>
                        <div class="link">
                            <a href="">Аллерголог</a>
                            <div>Аллергические реакции  и заболевания</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">9</div>
                        <div class="link">
                            <a href="">Андролог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">9</div>
                        <div class="link">
                            <a href="">Ангиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">150</div>
                        <div class="link">
                            <a href="">Анестезиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">123</div>
                        <div class="link">
                            <a href="">Ангиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">9</div>
                        <div class="link">
                            <a href="">Акушер-гинеколог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>
                    <div class="sidebar_list__item">
                        <div class="number">23</div>
                        <div class="link">
                            <a href="">Ангиолог</a>
                            <div>Заболевания сосудов</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer class="main_footer with_phone">
    <ul class="footer_menu">
        <li><a href="doctors.html">Врачи</a></li>
        <li><a href="clinics.html">Клиники</a></li>
        <li><a href="services.html" class="active">Услуги</a></li>
        <li><a href="diagnostics.html">Диагностика</a></li>
        <li><a href="diseases.html">Заболевания</a></li>
    </ul>
    <p class="doctogo_descr text-center">
        <a href="doctogo.ru">doctogo.ru</a> | Сервис для поиска врачей, а также записи к ним.
    </p>
</footer>

<div class="record_phone text-center visible-xs-block">
    <div>Запишитесь по телефону:</div>
    <a href=""><i class="ion-ios-telephone"></i> +7 (495) 230-72-18</a>
</div>

@@include('_footer.html')
