@font-face {
  font-family: 'FuturaPT';
  font-weight: 300;
  src: url('../fonts/Futura/FuturaPTBook.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Futura/FuturaPTBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Futura/FuturaPTBook.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Futura/FuturaPTBook.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Futura/FuturaPTBook.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'FuturaPT';
  font-weight: 500;
  src: url('../fonts/Futura/FuturaPTMedium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Futura/FuturaPTMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Futura/FuturaPTMedium.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Futura/FuturaPTMedium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Futura/FuturaPTMedium.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'FuturaPT';
  font-weight: 700;
  src: url('../fonts/Futura/FuturaPTBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Futura/FuturaPTBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Futura/FuturaPTBold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Futura/FuturaPTBold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Futura/FuturaPTBold.svg') format('svg'); /* Legacy iOS */
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');