.main_footer {
  padding: 20px;
  &.with_phone {
    margin-bottom: 91px;
  }
  .footer_menu {
    margin: 0 auto 14px;
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 10px;
      a {
        font-family: FuturaPT, sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #000000;
        text-decoration: none;
        &:hover, &:active, &.active {
          padding-bottom: 1px;
          border-bottom: 4px solid #ff7c6b;
          color: #000000!important;
        }
      }
    }
  }
  p.doctogo_descr {
    font-size: 12px;
    text-align: center;
    color: #959595;
    margin-bottom: 0;
    a {
      font-weight: bold;
      color: #959595;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .main_footer {
    padding-top: 47px;
    padding-bottom: 30px;
    &.with_phone {
      margin-bottom: 0;
    }
    .footer_menu {
      display: flex;
      width: 524px;
      justify-content: space-between;
      margin: 0 auto 43px;
      li {
        a {
          font-family: FuturaPT, sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #000000;
          text-decoration: none;
          &:hover, &:active, &.active {
            padding-bottom: 8px;
            border-bottom: 4px solid #ff7c6b;
            color: #000000!important;
          }
        }
      }
    }
    p.doctogo_descr {
      font-size: 12px;
      text-align: center;
      color: #959595;
      a {
        font-weight: bold;
        color: #959595;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .main_footer {
    padding-top: 47px;
    padding-bottom: 30px;
    .footer_menu {
      display: flex;
      width: 524px;
      justify-content: space-between;
      margin: 0 auto 43px;
      list-style: none;
      padding-left: 0;
      li {
        a {
          font-family: FuturaPT, sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #000000;
          text-decoration: none;
          &:hover, &:active, &.active {
            padding-bottom: 8px;
            border-bottom: 4px solid #ff7c6b;
            color: #000000!important;
          }
        }
      }
    }
    p.doctogo_descr {
      font-size: 12px;
      text-align: center;
      color: #959595;
      a {
        font-weight: bold;
        color: #959595;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .main_footer {
    padding-top: 47px;
    padding-bottom: 30px;
    .footer_menu {
      width: 524px;
      margin: 0 auto 43px;
      li {
        a {
          font-size: 20px;
        }
      }
    }
    p.doctogo_descr {
      font-size: 12px;
    }
  }
}
