.navbar.navbar-default {
  margin-bottom: 0;
  border: none;
  height: 55px;
  background: #fff;
  .navbar-text.navbar-right {
    font-size: 16px;
    text-align: left;
    color: #2e72b6;
    margin-top: 28px;
    a {
      font-family: FuturaPT, sans-serif;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1.5px;
      text-align: left;
      color: #2e72b6;
      margin-left: 7px;
    }
  }
  .navbar-collapse {
    background-color: #2e72b6;
    position: relative;
    z-index: 101;
    overflow: hidden;
    .categories {
      overflow-y: scroll;
      height: 100vh;
      margin-right: -15px;
      margin-left: -15px;
      background: transparent;
      .clearfix {
        border-top: none;
        border-bottom: solid 1px #5d90c1;
      }
      a {
        color: #fff;
      }
    }
  }
}
.filter_toggle {
  float: right;
  margin-top: 14px;
  margin-right: 28px;
}
.navbar-toggle {
  padding: 0;
  border-radius: 0;
  border: none;
  margin-top: 17px;
  margin-right: 17px;
  background: transparent!important;
  width: 28px;
  .burger {
    display: none;
  }
  .close {
    display: inline-block;
    opacity: 1;
    margin-right: 3px;
  }
  &.collapsed {
    .close {
      display: none;
    }
    .burger {
      display: inline-block;
    }
  }
}
.navbar-brand {
  height: 55px;
  padding: 9px 15px;
  line-height: 36px;
}
.logo {
  width: 126px;
  height: 36px;
  object-fit: contain;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .navbar.navbar-default {
    height: 91px;
    border-bottom: solid 2px #ececec;
    .navbar-text.navbar-right {
      font-size: 16px;
      text-align: left;
      color: #2e72b6;
      margin-top: 28px;
      a {
        font-family: FuturaPT, sans-serif;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-align: left;
        color: #2e72b6;
        margin-left: 7px;
      }
    }
    .navbar-collapse {
      background: transparent;
      z-index: initial;
      position: initial;
    }
  }
  .navbar-brand {
    height: 91px;
    padding: 17px 15px;
    line-height: 56px;
  }
  .logo {
    width: 207px;
    height: 56px;
    object-fit: contain;
  }
}