.top_content {
  padding-top: 9px;
  &.top_content_doctors {
    padding-top: 9px;
    padding-bottom: 22px;
    .main-menu {
      margin-bottom: 13px;
    }
  }
}

.main-menu {
  width: 769px;
  height: 42px;
  margin: 0 auto 20px;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  li {
    a {
      font-size: 20px;
      font-weight: 500;
      font-family: FuturaPT, sans-serif;
      letter-spacing: 0.8px;
      text-align: left;
      color: #000000;
      text-decoration: none;
      &:hover, &:active, &.active {
        padding-bottom: 8px;
        border-bottom: 4px solid #ff7c6b;
        color: #000000!important;
      }
    }
  }
}

.main_heading {
  height: 56px;
  font-size: 44px;
  font-weight: 300;
  text-align: center;
  color: $accent;
  margin: 0 -10px 17px;
  font-family: FuturaPT, sans-serif;
  a {
    color: $accent;
    text-decoration: none;
  }
  .main_heading_toggle {
    border-bottom: dashed 2px;
    cursor: pointer;
    &.active {
      font-weight: 500;
      border: none;
      cursor: default;
    }
  }
}

.search_dropdown {
  display: block;
  margin: 0 auto 30px;
  max-width: 100%;
  height: 61px;
  border-radius: 5px;
  border: solid 3px $accent;

  .dropdown_menuicon {
    width: 54px;
    height: 55px;
    border: none;
    border-radius: 0;
    background-color: $accent!important;
    float: left;
    display: inline-block;
    box-shadow: none!important;
    margin: 0!important;
    position: relative;
    i {
      @include centerer;
      color: #fff;
      font-size: 23px;
      line-height: 1;
    }
  }

  .toggle-arrow {
    width: calc(100% - 54px);
    display: inline-block;
    font-size: 16px;
    color: #2f2f2f;
    height: 55px;
    border: none;
    text-align: left;
    border-radius: 0;
    background: #fff!important;
    box-shadow: none!important;
    padding-left: 12px!important;
    text-overflow: ellipsis;
    overflow: hidden;
    i {
      background: transparent;
      border: none;
      @include centerery;
      right: 15px;
      font-size: 23px;
      color: $accent;
    }
  }

  .dropdown-menu {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(49, 56, 64, 0.13);
    width: calc(100% + 6px);
    margin-left: -3px;
    padding: 16px 22px 15px;
    .form-group {
      position: relative;
      margin-bottom: 10px;
      i {
        position: absolute;
        @include centerery;
        left: 20px;
        font-size: 17px;
      }
      input {
        width: 100%;
        border: none;
        height: 34px;
        border-radius: 27px;
        background-color: #e6eef4;
        padding-left: 40px;
        font-size: 13px;
        line-height: 1.85;
        text-align: left;
        color: #737373;
        &:focus {
          box-shadow: none;
        }
      }
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        a {
          font-size: 15px;
          line-height: 2;
          color: #000;
        }
      }
    }
  }

  &.search_dropdown2 {
    display: block;
    text-align: center;
    width: 776px;
    margin: 0 auto;
    height: initial;
    border: none;
    .dropdown-toggle {
      width: 100%;
      height: 34px;
      border-radius: 27px;
      background-color: #e6eef4!important;
      float: none;
      border: none;
      text-align: left;
      padding: 10px 26px 12px 45px;
      line-height: 1;
      font-size: 13px;
      position: relative;
      .menu_icon {
        position: absolute;
        @include centerery;
        left: 18px;
        font-size: 20px;
      }
      .arrow_icon {
        position: absolute;
        @include centerery;
        right: 18px;
        font-size: 17px;
      }
      &:hover {
        color: #000!important;
      }
    }
  }

  .form-control {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
}

.search_input {
  display: block;
  width: 776px;
  max-width: 100%;
  margin: 0 auto;
  height: 34px;
  border-radius: 27px;
  line-height: 1;
  position: relative;
  overflow: hidden;
  i {
    position: absolute;
    @include centerery;
    left: 18px;
    font-size: 17px;
  }
  input {
    width: 100%;
    border: none;
    height: 100%;
    -webkit-border-radius: 27px;
    padding-left: 40px;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    color: #737373;
    background-color: #e6eef4;
    box-shadow: none;
  }
}

.counters {
  display: flex;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: -209px;
  z-index: 1;
  position: relative;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    color: #fff;
    text-align: center;
    height: 127px;
    &.zapisi {
      background-color: #66d5fb;
    }
    &.doctors {
      background-color: #3293f2;
    }
    &.feedbacks {
      background-color: #2e72b7;
    }
    &.clinics {
      background-color: #00a5ff;
    }
    .text {
      text-align: center;
      .number {
        display: block;
        font-family: FuturaPT, sans-serif;
        font-weight: 300;
        font-size: 36px;
      }
    }
  }
}

.sidebar_right {
  padding-left: 49px;
  h2 {
    margin-top: 25px;
    margin-bottom: 23px;
  }
  .show_all {
    font-size: 13px;
    line-height: 1.54;
    text-align: left;
    color: #919191;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.sidebar_contacts {
  padding-left: 7px;
}

.specializations {
  h1 {
    margin-bottom: 38px;
  }
  .specializations_list {
    column-count: 4;
    padding-left: 0;
    list-style: none;
    > li {
      position: relative;
      margin-bottom: 31px;
      .letter {
        position: absolute;
        top: 0;
        left: 0;
        font-family: FuturaPT, sans-serif;
        color: $accent;
        font-size: 24px;
      }
      ul {
        padding-left: 35px;
        list-style: none;
        li {
          a {
            font-size: 16px;
            line-height: 1.88;
            color: #000000;
          }
        }
      }
    }
  }
}

.divider {
  border-bottom: solid 3px #d8e5ec;
  margin-top: 20px;
  margin-bottom: 40px;
}

.categories {
  background-color: #f3f8fb;
  margin-left: -14px;
  margin-right: -14px;
  position: relative;
  .clearfix {
    a {
      padding: 12px 18px 17px 17px;
      font-family: FuturaPT, sans-serif;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 1.2px;
      color: #000000;
      display: flex;
      align-items: center;
      position: relative;
      .img {
        width: 27px;
        text-align: center;
        margin-right: 20px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      i {
        position: absolute;
        @include centerery;
        color: $accent;
        font-size: 23px;
        right: 18px;
      }
    }
    & + .clearfix {
      border-top: solid 1px #ececec;
    }
  }
  &.diseases_categories {
    .clearfix {
      a {
        color: $accent;
        font-size: 18px;
        line-height: 1.06;
        display: block;
        padding: 12px 18px 17px 17px;
        .img {
          margin-right: 0;
          width: 27px;
        }
        .text {
          width: calc(100% - 27px);
          display: inline-block;
          padding-left: 8px;
        }
        .flower {
          width: 14px;
          height: 26px;
        }
        .hair {
          width: 21px;
          height: 18px;
        }
        .eye {
          width: 22px;
          height: 15px;
        }
        .droplet {
          width: 17px;
          height: 24px;
        }
        .breast {
          width: 18px;
          height: 18px;
        }
        .productivity {
          width: 19px;
          height: 22px;
        }
        .joint {
          width: 15px;
          height: 26px;
        }
        .lungs {
          width: 21px;
          height: 21px;
        }
        .stomach {
          width: 21px;
          height: 21px;
        }
        .heart {
          width: 17px;
          height: 21px;
        }
        .blood-cell {
          width: 20px;
          height: 20px;
        }
        .large-intestine {
          width: 19px;
          height: 19px;
        }
        .ear {
          width: 13px;
          height: 19px;
        }
        .ribbon {
          width: 14px;
          height: 20px;
        }
        .baby-feeder {
          width: 15px;
          height: 25px;
        }
        .uterus {
          width: 26px;
          height: 20px;
        }
        .virus {
          width: 21px;
          height: 21px;
        }
        .cell {
          width: 21px;
          height: 18px;
        }
        .authenticity {
          width: 18px;
          height: 23px;
        }
        .gender {
          width: 17px;
          height: 17px;
        }
        .syringe {
          width: 23px;
          height: 23px;
        }
        .mouth {
          width: 27px;
          height: 12px;
        }
        .dna {
          width: 12px;
          height: 18px;
        }
        .cancer {
          width: 16px;
          height: 23px;
        }
        .parazit {
          width: 20px;
          height: 20px;
        }
        .psycho {
          width: 14px;
          height: 23px;
        }
        .hand {
          width: 21px;
          height: 20px;
        }
        .tooth {
          width: 19px;
          height: 20px;
        }
        .kidneys {
          width: 23px;
          height: 18px;
        }
        .shape {
          width: 19px;
          height: 19px;
        }
        .nose {
          width: 13px;
          height: 21px;
        }
      }
    }
  }
  .record_phone {
    position: absolute;
    bottom: 130px;
    left: 0;
    width: 100%;
    margin: 0;
  }
}

.record_phone {
  height: 91px;
  background-color: #2e72b6;
  padding: 7px 9px 13px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  div {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 8px;
  }
  a {
    height: 41px;
    border-radius: 100px;
    background-color: #64cac8;
    font-family: FuturaPT, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #ffffff!important;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 32px;
      margin-right: 6px;
      line-height: 1;
    }
    &:hover, &:focus {
      opacity: .8;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .top_content {
    padding-top: 74px;
    padding-bottom: 143px;
    &.top_content_doctors {
      padding-top: 9px;
      padding-bottom: 22px;
      .main-menu {
        margin-bottom: 13px;
      }
    }
  }
  .main-menu {
    width: 671px;
    margin: 0 auto 20px;
  }
  .main_heading {
    height: initial;
    font-size: 48px;
    margin-bottom: 56px;
  }
  .search_dropdown {
    margin: 0 auto 82px;
    width: 694px;
    height: 61px;
    .form-control {
      font-size: 18px;
    }
    .dropdown_menuicon {
      width: 64px;
      height: 55px;
      i {
        font-size: 23px;
      }
    }
    .toggle-arrow {
      width: calc(100% - 64px);
      font-size: 18px;
      padding-left: 15px!important;
      i {
        right: 15px;
        font-size: 23px;
      }
    }
    .dropdown-menu {
      width: calc(100% + 6px);
      margin-left: -3px;
      padding: 16px 22px 15px;
      .form-group {
        margin-bottom: 10px;
        i {
          left: 20px;
          font-size: 17px;
        }
        input {
          height: 34px;
          padding-left: 40px;
          font-size: 13px;
        }
      }
      ul {
        li {
          a {
            font-size: 15px;
          }
        }
      }
    }
    &.search_dropdown2 {
      width: 680px;
      .dropdown-toggle {
        height: 34px;
        padding: 10px 26px 12px 45px;
        font-size: 13px;
        .menu_icon {
          left: 18px;
          font-size: 20px;
        }
        .arrow_icon {
          right: 18px;
          font-size: 17px;
        }
      }
    }
  }
  .search_input {
    width: 694px;
  }
  .counters {
    display: flex;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: -209px;
    > div {
      color: #fff;
      text-align: center;
      height: 198.2px;
      img {
        height: 76px;
        margin-bottom: 7px;
        margin-top: 3px;
        &.zapisicopy {
          margin-right: -10px;
        }
      }
      .text {
        .number {
          font-size: 36px;
        }
      }
    }
  }
  .specializations {
    h1 {
      margin-bottom: 31px;
    }
    .specializations_list {
      column-count: 2;
      > li {
        margin-bottom: 30px;
      }
    }
  }
  .sidebar_banner {
    padding-left: 5px;
  }
  .record_phone {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .main-menu {
    width: 769px;
  }
  .main_heading {
    height: 69px;
    font-size: 54px;
    margin-bottom: 52px;
  }
  .search_dropdown {
    width: 769px;
    &.search_dropdown2 {
      width: 776px;
    }
  }
  .search_input {
    width: 776px;
    height: 34px;
    i {
      left: 18px;
      font-size: 17px;
    }
    input {
      padding-left: 40px;
      font-size: 13px;
    }
  }
  .counters {
    margin-bottom: -209px;
    > div {
      flex-direction: row;
      height: 127px;
      img {
        height: initial;
        margin-bottom: 0;
        margin-top: 0;
        &.1-zapisi-copy {
          margin-right: 0;
        }
      }
      .text {
        text-align: left;
        margin-left: 15px;
      }
    }
  }
  .specializations {
    h1 {
      margin-bottom: 38px;
    }
    .specializations_list {
      column-count: 3;
      > li {
        margin-bottom: 31px;
      }
    }
  }
  .sidebar_right {
    padding-left: 4px;
    h2 {
      margin-top: 25px;
      margin-bottom: 23px;
    }
    .show_all {
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
  .sidebar_contacts {
    padding-left: 3px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .specializations {
    .specializations_list {
      column-count: 4;
    }
  }
  .sidebar_right {
    padding-left: 49px;
    h2 {
      margin-top: 25px;
      margin-bottom: 23px;
    }
    .show_all {
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
  .sidebar_contacts {
    padding-left: 7px;
  }
}
