@import "vars";

/*==========  Mobile First  ==========*/

.container {
  padding-left: 14px;
  padding-right: 14px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .container {
    width: 760px;
    .left_content, .diseases_more {
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .container {
    width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    .left_content, .diseases_more {
      width: 787.5px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .diseases_more {
      width: 100%;
    }
    .sidebar_right, .sidebar_contacts, .sidebar_banner {
      width: calc(100% - 787.5px);
    }
    .sidebar_content_diseases {
      width: 309px;
    }
    .sidebar_banner {
      img {
        width: 100%;
      }
    }
    .left_content_diseases {
      width: calc(100% - 309px);
      padding-left: 0;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .container {
    width: 1190px;
    padding-left: 15px;
    padding-right: 15px;
    .left_content, .left_content_diseases {
      width: 75%;
    }
    .left_content_diseases {
      padding-left: 15px;
    }
    .sidebar_right, .sidebar_contacts, .sidebar_banner {
      width: 25%;
    }
  }
}
