$default-font: Open Sans, sans-serif;
/* Sample color palette */

$yellow: #fecf33;
$lightorange: #fdbd39;
$peach: #ee6723;
$accent: #4a78f8;

/* Text styles */

h1 {
  font-family: FuturaPT,sans-serif;
  font-size: 36px;
  text-align: left;
  color: #4a78f8;
  margin-top: 0;
  font-weight: 300;
}

h2 {
  font-family: FuturaPT,sans-serif;
  font-size: 26px;
  line-height: 1.15;
  text-align: left;
  color: #4a78f8;
  margin-top: 0;
  font-weight: 300;
}

.h-2-mobile {
  font-family: FuturaPT,sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  text-align: left;
  color: #4a78f8;
  margin-top: 0;
}

h3 {
  font-family: Open Sans,sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #000000;
  margin-top: 0;
}

.h-3-mob {
  font-family: Open Sans,sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #000000;
  margin-top: 0;
}

.mobile {
  font-family: Open Sans,sans-serif;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #000000;
}

.price-mob {
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.29;
  text-align: left;
  color: #ff6652;
}
