@import "fonts";
@import "libs";
@import "vars";

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

body {
  min-width: 320px;
  position: relative;
  font-family: $default-font;
  overflow-x: hidden;
  opacity: 1;
  color: #000;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centererx {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerery {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 10px;
  li {
    font-size: 13px;
    line-height: 1.54;
    color: #919191;
    a {
      color: #919191;
    }
  }
}

a {
  &:hover {
    color: $accent !important;
    text-decoration: none;
  }
}

.btn {
  &.btn-default {
    height: 29px;
    border-radius: 100px;
    border: solid 3px #64cac8;
    font-family: FuturaPT,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      background-color: #64cac8;
      border: solid 3px #64cac8;
      color: #fff!important;
    }
    &.gray {
      border-color: #e3e3e3;
      &:hover {
        background-color: #e3e3e3;
        border-color: #e3e3e3;
      }
    }
  }
}

.label {
  font-weight: 400;
  padding: 0;
}

.doc_pagination {
  text-align: center;
  margin-bottom: 10px;
}

.pagination {
  margin: 10px 0;
  li {
    a {
      font-family: FuturaPT, sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #000000;
      background: transparent;
      border: none;
      padding: 0 5px;
      float: none;
      text-align: center;
      border-radius: 0 !important;
      i {
        color: #4a78f8;
        font-size: 35px;
        line-height: 1;
        top: 7px;
        position: relative;
      }
    }
    &.active, &:hover {
      a {
        color: $accent;
        padding-bottom: 8px;
        border-bottom: solid 3px #4a78f8;
        background: transparent !important;
      }
    }
    & + li {
      margin-left: 26px;
    }
  }
}

.bootstrap-select {
  .btn.btn-default {
    height: 35px;
    border-radius: 27px;
    border: solid 1px #c5d2d9!important;
    display: inline-block;
    overflow: hidden;
    font-family: OpenSans,sans-serif;
    font-size: 13px;
    text-align: left;
    letter-spacing: normal;
    color: #000000!important;
    text-transform: initial;
    padding-left: 19px;
    padding-right: 30px;
    box-shadow: none!important;
    background-color: transparent!important;
    outline: none!important;
    &:hover {
      color: $accent!important;
    }
    .caret {
      right: 22px;
      margin-top: -12px;
      border: none;
      &:before {
        content: "\f123";
        font-family: Ionicons;
        color: $accent;
      }
    }
  }
}

.mb60 {
  margin-bottom: 60px
}

@media only screen and (max-width : 768px) {
  .bootstrap-select .btn.btn-default .caret {
    margin-top: -5px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .btn {
    &.btn-default {
      height: 42px;
      font-size: 15px;
      line-height: 2.0;
      letter-spacing: 1.1px;
      padding-top: 3px;
    }
  }
  .doc_pagination {
    text-align: center;
    padding: 0;
  }
  .pagination {
    margin: 20px 0;
    li {
      & + li {
        margin-left: 30px;
      }
    }
  }
}
@media only screen and (max-width : 767px) {
  .mobile_heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.0;
    letter-spacing: 1.2px;
    color: #000000;
  }
}

@import "media";
@import "header";
@import "footer";
@import "index";
@import "doctors";
